.section-chupin {
	@secHeadHeight : 46px;
	@secFootHeight : 5rem;
	@bgBody : #000;
	@bgBar : @xPageHeaderBG;
	// @itemFocusBorder : darken(#ff6, 20%);
	@itemFocusBorder : #F0AD4E;
	@bgWarning : #ff6;
	@bgDanger : #f00;
	@bgSuccess : #690;
	@foodItemFocusBorder : #690;
	@foodMaked : rgb(231, 249, 222);
	@foodItemCall : #690;
	@foodItemHangup : #ff4a22;
	@foodDisabledColor : #ccc;
	height : 100%; position: relative;
	.chupin-header, .chupin-footer {
		position : absolute; z-index: 99; background-color: @bgBar; left : 0; right : 0;
	}
	.chupin-header {
		top : 0; height : @secHeadHeight;
	}
	.filter-bar .badge {
		background-color: @bgDanger;
	}
	.chupin-footer {
		bottom : 0; height : @secFootHeight; 
		.btn {height : @secFootHeight;}
		.order-info > p {font-size: 12px; line-height: 1.5em;}
	}
	.chupin-body {
		position : absolute; left : 0; right : 0; top : @secHeadHeight; bottom : @secFootHeight; z-index: 1;
		padding : 3px; background-color: @bgBody; overflow: hidden;
		&.row > .order-item {padding : 3px;}
	}
	.icon-tangshi, .icon-waimai, .icon-ziti {
		width : 32px; height : 32px; -webkit-transform: scale(0.5);
		position: absolute; left : -8px; top : -8px;
	}
	.icon-tangshi {
		.x-icon-32_dingzuo();
	}
	.icon-waimai {
		.x-icon-32_waimai();
	}
	.icon-ziti {
		.x-icon-32_ziti();
	}
	.order-item {
		position : relative; padding : 3px; height : 50%; overflow : hidden; z-index: 99;
		&.collapse {display: block;}
		.panel-heading {
			.amount, .time, .panel-title {
				line-height: 24px; vertical-align: middle;
			}
			.panel-title {
				white-space: nowrap; overflow: hidden; text-overflow : ellipsis; font-weight: bold; font-size: 2rem;
			}
		}
		
		.order-box {
			-webkit-transition : all .5s ease-in-out;
			height : auto; max-height : 100%; overflow: hidden; border-radius : 5px;
			.pager {display: none;}
		}
		&.offset-md, &.offset-lg {
			> .order-box {
				// -webkit-transition : -webkit-transform .5s ease-in-out;
			}
		}
		&.active > .order-box {
			border : 3px solid @itemFocusBorder; border-radius: 8px;
		}
		&.warning .panel-heading{
			background : @bgWarning;
		}
		&.danger .panel-heading{
			background-color: @bgDanger;
			-webkit-animation: blink 1s 3 ease-in-out;
			// 去掉无限次闪烁动画
			// -webkit-animation: blink 1s infinite ease-in-out;
		}
		.panel {
			margin : 0;
		}
		.panel-heading {
			.num, .time {
				font-size: 16px; vertical-align: middle;
			}
		}
		.order-type {
			display: inline-block; position: relative; width : 16px; height : 16px; overflow: hidden; vertical-align: middle;
		}
		
		&.popup {
			overflow: visible; z-index: 100;
			.order-box {
				position : absolute; height : 200%; max-height: 200%; top : 0; bottom : 0; left : 0px; right : 0px; overflow: hidden;
				> .panel {position : relative; height : 100%;}
				.food-box {
					position : absolute; top : 43px; bottom : 43px; left : 0; right : 0; overflow: hidden;
				}
				.pager {
					position : absolute; bottom : 0; left : 0; right : 0; display: block; margin : 0;
				}
			}
		}
		
	}
	@media screen and (min-width: 992px) and (max-width: 1200px) {
		.order-item.popup.offset-md > .order-box {
			-webkit-transform: translate3d(0, -50%, 0);
			transform : translate3D(0, -50%, 0);
		}
	}
	@media screen and (min-width: 1200px) {
		.order-item.popup.offset-lg > .order-box {
			-webkit-transform: translate3d(0, -50%, 0);
			transform : translate3D(0, -50%, 0);
		}
	}
	

	.food-lst {
		.food-item {
			border-left : 3px solid transparent; border-right : 0; cursor : pointer;
			background-color: #F5F5F5;
			&.maked, &.call {
				background-color : @foodMaked;
			}
			&.call > .status{
				color : @foodItemCall;
			}
			&.hangup > .status{
				color : @foodItemHangup;
			}
			&.done .num, &.done .txt, &.done .unit {
				color : #d2d2d2;
			}
			.num, .txt, .unit {
				font-weight: 700;
			}
			&.active {
				border : 1px solid @foodItemFocusBorder; border-left-width : 3px; border-right-width : 0; color : @xBaseColor;
			}
			&.disabled {
				color : @foodDisabledColor; background-color: #fff;
			}
		}
		
	}

	.food-mode {
		.food-box {
			height : 70px; cursor: pointer;
			&[class*="col-"] {
				padding : 0 2px;
			}
			&.danger {
				.time {
					color : #fff; background-color: @bgDanger;
				}
			}
			&.warning {
				.time {
					color : #111; background-color: @bgWarning;
				}
			}
			&.active > .well {
				border : 3px solid @itemFocusBorder;
			}
			& > .well {
				&.maked, &.call {
					background-color : @foodMaked;
				}
				&.call .status {
					color : @foodItemCall;
				}
				&.hangup .status {
					color : @foodItemHangup;
				}
				&.done {
					.num, .txt, .unit {
						color : #d2d2d2;
					}
					.icon-tangshi, .icon-waimai, .icon-ziti {
						opacity : .6;
					}
					.time {
						display: none;
					}
				}
			}
			
			
			.time {
				background-color: @bgSuccess;
			}
			.icon-tangshi, .icon-waimai, .icon-ziti {
				width : 32px; height : 32px; -webkit-transform: scale(0.5);
				position: absolute; left : -8px; top : -4px;
			}
			.ordernum, .foodname {
				white-space: nowrap; overflow: hidden; text-overflow : ellipsis;
			}
			.foodnum {
				padding-left : 16px;
			}
			.num, .txt, .unit, .time {
				// display: inline-block;
			}
			.num,.txt {
				font-weight: bolder; font-size: 1.5em; line-height: 1em;
			}
			.unit, .time {
				display:inline-block; font-weight: 400; font-size : 1em;
			}
		}
	}
	
	

	@-webkit-keyframes blink {
		0%, 100% {
			background-color : @bgDanger;
		}
		50% {
			background-color: @bgWarning;
		}
	}

	@-webkit-keyframes ordercollapse {
		0% {
			overflow: visible;
		}
		100% {
			overflow: hidden;
		}
	}

}