html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  font-family: Microsoft Yahei, Tahoma, Verdana, sans-serif, simsun, Arial;
  font-size: 14px;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../js/vendor/bootstrap/glyphicons-halflings-regular.eot');
  src: url('../js/vendor/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../js/vendor/bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('../js/vendor/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url('../js/vendor/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.row {
  margin: 0;
}
.row > div[class*="col-"] {
  padding: 0;
}
#site_wrapper {
  position: relative;
  display: block;
  margin: 0;
  height: 100%;
}
#site_header {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 6rem;
  border-right: 1px solid #e6e6e6;
}
#site_body {
  height: 100%;
  margin-left: 6rem;
}
.site-nav .logo {
  display: block;
  margin: 1.5rem auto 6rem;
  width: 5rem;
  height: 5rem;
}
.site-nav .logo > img {
  display: block;
  width: 100%;
  height: 100%;
  border: 0 none;
}
.site-nav .nav > li:last-child {
  position: absolute;
  bottom: 5rem;
  width: 100%;
}
.welcome #site_header,
.sign #site_header {
  display: none;
}
.welcome #site_body,
.sign #site_body {
  margin-left: 0;
}
.site-toptip {
  position: fixed;
  top: 3rem;
  left: 50%;
  margin-left: -20rem;
  z-index: 9999;
  width: 40rem;
  text-align: center;
}
.section-profile {
  position: relative;
  height: 100%;
}
.section-profile .site-btngrp {
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
  border: 1px solid #e6e6e6;
}
.section-profile .site-btngrp > .btn {
  height: 25%;
}
.site-numkeyboard {
  display: block;
  width: 240px;
  height: 240px;
  margin: 0 auto;
}
.site-numkeyboard > table {
  width: 100%;
  height: 100%;
}
.site-numkeyboard > table td {
  width: 25%;
  position: relative;
}
.site-numkeyboard td > .btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0;
}
.grid-box .grid-header {
  margin: 0;
  padding: .5rem 5px;
}
.grid-box .grid-body {
  height: auto;
}
.grid-box .grid-row {
  margin: 0;
  padding: .5rem 5px;
  cursor: pointer;
  border-bottom: 1px solid #e6e6e6;
}
.grid-box .grid-row:nth-of-type(odd) {
  background: #f0f0f0;
}
.grid-box .grid-cell {
  padding: 0;
}
.grid-box .grid-cell.txt {
  text-align: left;
}
.grid-box .grid-cell.num,
.grid-box .grid-cell.price,
.grid-box .grid-cell.unit {
  text-align: right;
}
.section-diandan {
  position: relative;
  height: 100%;
}
.section-diandan .btn {
  border-radius: 0;
  white-space: normal;
}
.section-diandan .order-plain {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 372px;
  border-right: 1px solid #e6e6e6;
}
.section-diandan .menu-plain {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  margin-left: 372px;
  padding-bottom: 6rem;
}
.section-diandan .btns-plain {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 292px;
  height: 6rem;
}
.section-diandan .order-box {
  height: 100%;
  width: 292px;
  position: relative;
  border-right: 1px solid #e6e6e6;
  padding-bottom: 10rem;
}
.section-diandan .order-box .order-body {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
}
.section-diandan .order-box .order-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  height: 10rem;
  background-color: #e6e6e6;
}
.section-diandan .order-btngrp {
  width: 80px;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  padding-bottom: 6rem;
}
.section-diandan .order-btngrp > .btn {
  height: 8.33333333%;
}
.section-diandan .menu-plain .cates,
.section-diandan .menu-plain .foods {
  overflow: hidden;
  position: relative;
}
.section-diandan .menu-plain .cell-btn {
  padding: 10px 0 0;
  border: 1px solid #e6e6e6;
  color: #333333;
  cursor: pointer;
}
.section-diandan .menu-plain .cates {
  height: 25%;
  background: #99ccff;
}
.section-diandan .menu-plain .foods {
  height: 75%;
  background-color: #cce5ff;
}
.section-diandan .menu-plain .cates > .cell-btn {
  height: 50%;
  background-color: #99ccff;
}
.section-diandan .menu-plain .cates > .cell-btn:nth-of-type(5n) {
  margin-left: 16.66666667%;
  right: 16.66666667%;
}
.section-diandan .menu-plain .cates > .cell-btn.btn-search,
.section-diandan .menu-plain .cates > .cell-btn.btn-pager {
  position: absolute;
  right: 0;
}
.section-diandan .menu-plain .cates > .cell-btn.btn-search {
  top: 0;
}
.section-diandan .menu-plain .cates > .cell-btn.btn-pager {
  bottom: 0;
}
.section-diandan .menu-plain .cates > .cell-btn.active,
.section-diandan .menu-plain .cates > .cell-btn:active {
  background-color: #004c99;
  color: #fff;
}
.section-diandan .menu-plain .foods > .cell-btn {
  height: 16.66666667%;
  background-color: #e6f2fd;
}
.section-diandan .menu-plain .foods > .cell-btn.btn-prev,
.section-diandan .menu-plain .foods > .cell-btn.btn-next {
  position: absolute;
  bottom: 0;
  right: 0;
}
.section-diandan .menu-plain .foods > .cell-btn.btn-prev {
  right: 16.66666667%;
}
.section-diandan .menu-plain .foods > .cell-btn.active,
.section-diandan .menu-plain .foods > .cell-btn:active {
  background-color: #99ccff;
}
.section-diandan .order-header > div {
  padding: .5rem;
}
.section-diandan .order-header .item {
  padding: 0;
}
.section-diandan .order-header .item label,
.section-diandan .order-header .item span {
  padding: 0;
  padding-right: .5rem;
  line-height: 3rem;
  height: 3rem;
  line-height: 2.5rem;
  vertical-align: middle;
  font-weight: bolder;
}
.section-diandan .order-header .item .btn-block {
  height: 3rem;
  line-height: 3rem;
  padding: 0 .5rem;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.section-diandan .order-body {
  overflow: hidden;
}
.section-diandan .order-body .order-header {
  position: relative;
  z-index: 2;
  max-height: 220px;
  background-color: #ffffcc;
  -webkit-box-flex: 1;
  -webkit-box-flex-group: 2;
}
.section-diandan .order-body .grid-header {
  position: relative;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  -webkit-box-flex: 1;
  -webkit-box-flex-group: 2;
}
.section-diandan .order-body .order-list {
  -webkit-box-flex: 1;
  -webkit-box-flex-group: 1;
  height: 100%;
  overflow: hidden;
  padding-bottom: 10rem;
}
.section-diandan .order-body .make-status {
  display: inline-block;
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  vertical-align: middle;
}
.section-diandan .order-body .make-status[title="0"] {
  background-color: #eb9316;
  color: #ffffff;
}
.section-diandan .order-body .make-status[title="0"]:after {
  content: "等";
}
.section-diandan .order-body .make-status[title="1"] {
  background-color: #2aabd2;
  color: #ffffff;
}
.section-diandan .order-body .make-status[title="1"]:after {
  content: "即";
}
.section-diandan .order-body .make-status[title="2"] {
  background-color: #c12e2a;
  color: #ffffff;
}
.section-diandan .order-body .make-status[title="2"]:after {
  content: "急";
}
.section-diandan .order-body .make-status[title="3"] {
  background-color: #419641;
  color: #ffffff;
}
.section-diandan .order-body .make-status[title="3"]:after {
  content: "上";
}
.section-diandan .order-body .grid-row.active {
  background-color: #265a88!important;
  color: #fff!important;
}
.section-diandan .order-body .grid-row.ordered {
  background-color: #5cb85c;
}
.section-diandan .order-body .food-item.check-count > .num:after {
  content: '?';
  color: red;
}
.section-diandan .order-body .food-item {
  background-color: #fff;
  border: 0 none;
  border-top: 1px solid #e6e6e6;
}
.section-diandan .order-body .food-item > .txt,
.section-diandan .order-body .food-item > .num,
.section-diandan .order-body .food-item > .price,
.section-diandan .order-body .food-item > .unit {
  font-weight: 700;
}
.section-diandan .order-body .food-child-item {
  background-color: #fff;
  border: 0 none;
}
.section-diandan .order-body .food-child-item > .txt,
.section-diandan .order-body .food-child-item > .num,
.section-diandan .order-body .food-child-item > .price,
.section-diandan .order-body .food-child-item > .unit {
  font-weight: 400;
}
.section-diandan .order-body .food-item .cancelreason > .txt:first-child:before,
.section-diandan .order-body .food-child-item .cancelreason > .txt:first-child:before {
  content: "[退]";
}
.section-diandan .order-body .food-item .sendreason > .txt:first-child:before,
.section-diandan .order-body .food-child-item .sendreason > .txt:first-child:before {
  content: "[赠]";
}
.section-diandan .order-body .food-item .foodremark > .txt:first-child:before,
.section-diandan .order-body .food-child-item .foodremark > .txt:first-child:before {
  content: "[注]";
}
.section-diandan .order-body .food-item .modifyprice > .txt:first-child:before,
.section-diandan .order-body .food-child-item .modifyprice > .txt:first-child:before {
  content: "[改]";
}
.section-diandan .order-footer > .order-remark > div,
.section-diandan .order-footer > .btn-grp > div {
  padding: 0;
}
.section-diandan .order-footer > .btn-grp .btn {
  height: 4rem;
}
.section-diandan .order-footer > .order-remark {
  line-height: 6rem;
  vertical-align: middle;
  padding: 0 .5rem;
}
.section-diandan .order-footer > .order-remark .btn {
  height: 4rem;
  margin-top: 1rem;
}
.section-diandan .order-footer > .order-remark .dollar,
.section-diandan .order-footer > .order-remark .cash,
.section-diandan .order-footer > .order-remark label {
  font-weight: 700;
  font-size: 1.5rem;
}
.section-diandan .order-footer > .order-remark .dollar,
.section-diandan .order-footer > .order-remark .cash {
  color: red;
}
.section-diandan .order-btngrp > .btn {
  margin: 0;
  height: 5rem;
  border-radius: 0;
  border-right: 0 none;
}
.section-diandan .btns-plain > div,
.section-diandan .btns-plain > div > div {
  padding: 0;
}
.section-diandan .btns-plain .btn {
  height: 6rem;
}
.section-diandan .btns-plain .col-xs-2:first-of-type > .btn {
  background-color: #f96;
}
.btngrp-box {
  width: 100%;
  height: 9rem;
  position: relative;
  background: #e6f2fd;
  overflow: hidden;
}
.btngrp-box > .btn-group {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.btngrp-box > .btn-group .btn-radio,
.btngrp-box > .btn-group .btn-checkbox {
  width: 33.33333333%;
  height: 50%;
  margin: 0;
  bottom: 0;
  border-radius: 0;
  display: block;
  background-color: #e6f2fd;
  border: 1px solid #e6e6e6;
}
.btngrp-box > .btn-group .btn-radio.active,
.btngrp-box > .btn-group .btn-checkbox.active {
  background-color: #99ccff;
}
.btngrp-box .btn-pager {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 33.33333333%;
  height: 50%;
  background-color: #e6f2fd;
  border-radius: 0;
}
.btngrp-box.btngrp-vertical {
  width: 100%;
  height: 600px;
}
.btngrp-box.btngrp-vertical .btn-checkbox,
.btngrp-box.btngrp-vertical .btn-radio,
.btngrp-box.btngrp-vertical .btn-pager {
  height: 16.66666667%;
  width: 100%;
}
.btngrp-box.setfood-btn {
  height: auto;
  position: relative;
  background: #e6f2fd;
}
.btngrp-box.setfood-btn .btn-checkbox {
  width: 16.66666667%;
  height: 5rem;
}
#search_food > .modal-dialog {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}
.pay-modal .modal-dialog {
  position: absolute;
  left: 372px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: auto!important;
}
.pay-modal .modal-dialog > .modal-content,
.pay-modal .modal-dialog .modal-body,
.pay-modal .modal-dialog .pay-ctrl {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.pay-modal .pay-ctrl {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -o-box-orient: horizontal;
  box-orient: horizontal;
}
.pay-modal .pay-ctrl .pay-schema {
  width: 35%;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  border-right: 1px solid #e6e6e6;
}
.pay-modal .pay-ctrl .pay-schema label,
.pay-modal .pay-ctrl .pay-schema p {
  margin-bottom: 0;
  margin-top: .5rem;
}
.pay-modal .pay-ctrl .pay-schema p {
  padding: 0 0.5rem 0 1rem;
  font-size: 1rem;
}
.pay-modal .pay-ctrl .pay-schema label,
.pay-modal .pay-ctrl .pay-schema p.sum {
  font-size: 1.5rem;
  color: #111;
  padding: 0 0.5rem;
}
.pay-modal .pay-ctrl .pay-schema > header {
  -webkit-box-flex: 1;
  -webkit-box-flex-group: 2;
  margin-bottom: .5rem;
}
.pay-modal .pay-ctrl .pay-schema > header .btn-close {
  position: absolute;
  right: 0;
  top: 0;
}
.pay-modal .pay-ctrl .pay-schema > section {
  -webkit-box-flex: 1;
  -webkit-box-flex-group: 1;
}
.pay-modal .pay-ctrl .pay-schema > section .list-group-item {
  padding: 0;
  position: relative;
  min-height: 3rem;
  cursor: pointer;
}
.pay-modal .pay-ctrl .pay-schema > section .list-group-item .btn-default {
  position: absolute;
  right: 0;
}
.pay-modal .pay-ctrl .pay-schema > section .list-group-item.active {
  background-color: #265a88!important;
}
.pay-modal .pay-ctrl .pay-schema > section .list-group-item.active label,
.pay-modal .pay-ctrl .pay-schema > section .list-group-item.active p {
  color: #fff!important;
}
.pay-modal .pay-ctrl .pay-schema > footer {
  -webkit-box-flex: 1;
  -webkit-box-flex-group: 2;
}
.pay-modal .pay-ctrl .pay-schema .form-group,
.pay-modal .pay-ctrl .pay-schema .list-group {
  margin: 0;
}
.pay-modal .pay-ctrl .pay-subject {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  -box-flex: 1;
  position: relative;
  height: 100%;
}
.pay-modal .pay-ctrl .pay-subject > .panel {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}
.pay-modal .pay-ctrl .pay-subject > .panel > .panel-heading,
.pay-modal .pay-ctrl .pay-subject > .panel > .panel-footer {
  -webkit-box-flex: 1;
  -webkit-box-flex-group: 2;
}
.pay-modal .pay-ctrl .pay-subject > .panel > .panel-body {
  -webkit-box-flex: 1;
  -webkit-box-flex-group: 1;
}
.pay-modal .pay-ctrl .pay-subject > .panel .form-horizontal .form-group {
  margin-bottom: .5rem;
}
.pay-modal .pay-ctrl .pay-subject .vip-pay .help-block.info {
  margin-top: 5px;
  margin-bottom: 3px;
  padding: 0;
  font-size: 1rem;
}
.pay-modal .pay-ctrl .pay-subject .vip-pay .help-block.info > span {
  padding: 0;
  padding-left: 1rem;
}
.pay-modal .pay-ctrl .pay-subject .vip-pay .user-voucher {
  margin-bottom: 15px;
}
.setfood-modal .modal-dialog {
  position: absolute;
  left: 372px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: auto!important;
}
.setfood-modal .modal-dialog > .modal-content,
.setfood-modal .modal-dialog .modal-body,
.setfood-modal .modal-dialog .setfood-ctrl {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.setfood-modal .setfood-ctrl {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -o-box-orient: horizontal;
  box-orient: horizontal;
}
.setfood-modal .setfood-ctrl .ctrl-schema,
.setfood-modal .setfood-ctrl .ctrl-opt {
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  border-right: 1px solid #e6e6e6;
}
.setfood-modal .setfood-ctrl .ctrl-schema > header,
.setfood-modal .setfood-ctrl .ctrl-opt > header {
  -webkit-box-flex: 1;
  -webkit-box-flex-group: 2;
}
.setfood-modal .setfood-ctrl .ctrl-schema > header .btn-close,
.setfood-modal .setfood-ctrl .ctrl-opt > header .btn-close {
  position: absolute;
  right: 0;
  top: 0;
}
.setfood-modal .setfood-ctrl .ctrl-schema > section,
.setfood-modal .setfood-ctrl .ctrl-opt > section {
  -webkit-box-flex: 1;
  -webkit-box-flex-group: 1;
  position: relative;
}
.setfood-modal .setfood-ctrl .ctrl-schema > footer,
.setfood-modal .setfood-ctrl .ctrl-opt > footer {
  -webkit-box-flex: 1;
  -webkit-box-flex-group: 2;
}
.setfood-modal .setfood-ctrl .ctrl-schema .btn,
.setfood-modal .setfood-ctrl .ctrl-opt .btn {
  border-radius: 0;
  height: 4rem;
}
.setfood-modal .setfood-ctrl .ctrl-opt {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  -box-flex: 1;
}
.setfood-modal .setfood-ctrl .opt-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.setfood-modal .setfood-ctrl .btn-list {
  height: auto;
  width: 100%;
}
.setfood-modal .setfood-ctrl .btn-list .btn-cell {
  height: 75px;
  white-space: normal;
  padding: .5rem;
}
.setfood-modal .setfood-ctrl .btn-list .btn-cell p {
  margin-bottom: 0;
}
.section-table .menu-plain,
.table-ctrl .menu-plain {
  padding-bottom: 0;
}
.section-table .menu-plain .cates,
.table-ctrl .menu-plain .cates {
  position: relative;
  height: 12.5%;
  background-color: #fff;
}
.section-table .filter-bar .btn,
.table-ctrl .filter-bar .btn {
  white-space: nowrap;
}
.section-table .area-bar,
.table-ctrl .area-bar {
  position: relative;
  overflow: hidden;
  height: 100%;
  background-color: #99ccff;
}
.section-table .area-bar .cell-btn,
.table-ctrl .area-bar .cell-btn {
  height: 100%;
  border-color: #e6e6e6;
}
.section-table .area-bar .cell-btn.active,
.table-ctrl .area-bar .cell-btn.active,
.section-table .area-bar .cell-btn:active,
.table-ctrl .area-bar .cell-btn:active {
  background-color: #004c99;
  color: #fff;
}
.section-table .area-bar .btn-pager,
.table-ctrl .area-bar .btn-pager {
  position: absolute;
  right: 0;
  top: 0;
}
.section-table .table-menu,
.table-ctrl .table-menu {
  position: relative;
  height: 87.5%;
  background-color: #fff;
}
.section-table .table-menu .cell-btn,
.table-ctrl .table-menu .cell-btn {
  position: relative;
  height: 16.66666667%;
  background-color: #fff;
  padding: 0;
}
.section-table .table-menu .cell-btn.btn-prev,
.table-ctrl .table-menu .cell-btn.btn-prev,
.section-table .table-menu .cell-btn.btn-next,
.table-ctrl .table-menu .cell-btn.btn-next {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 1;
  border: 1px solid #e6e6e6;
}
.section-table .table-menu .cell-btn.btn-prev,
.table-ctrl .table-menu .cell-btn.btn-prev {
  right: 16.66666667%;
}
.section-table .table-menu .cell-btn.occupy,
.table-ctrl .table-menu .cell-btn.occupy {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #e6e6e6;
}
.section-table .table-menu .cell-btn.idle,
.table-ctrl .table-menu .cell-btn.idle {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #e6e6e6;
}
.section-table .table-menu .cell-btn.disabled,
.table-ctrl .table-menu .cell-btn.disabled {
  color: #ffffff;
  background-color: #bdbcbb;
  border-color: #e6e6e6;
}
.section-table .table-menu .cell-btn.active,
.table-ctrl .table-menu .cell-btn.active,
.section-table .table-menu .cell-btn:active,
.table-ctrl .table-menu .cell-btn:active {
  background-color: #004c99;
}
.section-table .table-menu .cell-btn p,
.table-ctrl .table-menu .cell-btn p {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}
.section-table .table-menu .cell-btn p.name,
.table-ctrl .table-menu .cell-btn p.name {
  top: 50%;
  margin-top: -1.5rem;
  font-size: 1.5rem;
}
.section-table .table-menu .cell-btn p.time,
.table-ctrl .table-menu .cell-btn p.time,
.section-table .table-menu .cell-btn p.amount,
.table-ctrl .table-menu .cell-btn p.amount {
  position: absolute;
  width: 50%;
  bottom: 0;
  font-weight: normal;
}
.section-table .table-menu .cell-btn p.time,
.table-ctrl .table-menu .cell-btn p.time {
  left: 0;
}
.section-table .table-menu .cell-btn p.amount,
.table-ctrl .table-menu .cell-btn p.amount {
  right: 0;
}
.section-table .table-menu .cell-btn .table-lock,
.table-ctrl .table-menu .cell-btn .table-lock {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 32px;
  height: 32px;
  line-height: 16px;
  text-align: left;
  background-color: transparent;
  background-size: 32px 32px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, from(#837997), color-stop(0.5, #837997), color-stop(0.5, transparent), to(transparent));
}
.section-table .table-menu .cell-btn .table-lock:after,
.table-ctrl .table-menu .cell-btn .table-lock:after {
  padding-left: 4px;
  font-size: 1rem;
  content: "锁";
}
.section-table .table-menu .cell-btn .table-union,
.table-ctrl .table-menu .cell-btn .table-union {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -12px;
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 1rem;
}
.section-table .table-menu .cell-btn .table-book,
.table-ctrl .table-menu .cell-btn .table-book {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 32px;
  height: 32px;
  line-height: 16px;
  text-align: right;
  background-color: transparent;
  background-size: 32px 32px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 100% 0, 0 100%, from(#ff6600), color-stop(0.5, #ff6600), color-stop(0.5, transparent), to(transparent));
}
.section-table .table-menu .cell-btn .table-book:after,
.table-ctrl .table-menu .cell-btn .table-book:after {
  padding-right: 4px;
  font-size: 1rem;
  content: "订";
}
.table-modal .modal-dialog {
  position: absolute;
  left: 372px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: auto!important;
}
.table-modal .modal-dialog > .modal-content,
.table-modal .modal-dialog .table-ctrl {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.table-modal .modal-dialog .modal-body {
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}
.table-modal .modal-dialog .menu-plain {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.section-orderlst {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
}
.section-orderlst .orderlst-header {
  -webkit-box-flex: 1;
  -webkit-box-flex-group: 2;
}
.section-orderlst .orderlst-footer {
  -webkit-box-flex: 1;
  -webkit-box-flex-group: 2;
  border-top: 1px solid #e6e6e6;
}
.section-orderlst .orderlst-footer .pagination {
  margin: 0;
}
.section-orderlst .orderlst-footer .pager-info {
  margin: 10px;
  font-size: 18px;
  line-height: 1.5rem;
  vertical-align: bottom;
}
.section-orderlst .orderlst-body {
  -webkit-box-flex: 1;
  -webkit-box-flex-group: 1;
  position: relative;
}
.section-orderlst .orderlst-body > .table-responsive {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section-orderlst .orderlst-body table.table {
  height: 100%;
  margin-bottom: 0;
}
.section-orderlst .orderlst-body table.table td,
.section-orderlst .orderlst-body table.table th {
  height: 6.25%;
  vertical-align: bottom;
}
