.section-orderlst {
	position: relative; height : 100%;
	display: -webkit-box; display: -moz-box; display: -ms-flexbox;
	-webkit-box-orient : vertical; -moz-box-orient : vertical; -ms-box-orient : vertical; -o-box-orient : vertical; box-orient : vertical;
	.orderlst-header {
		-webkit-box-flex : 1; -webkit-box-flex-group : 2;
	}
	.orderlst-footer {
		-webkit-box-flex : 1; -webkit-box-flex-group : 2;
		border-top: 1px solid @xBaseBorderColor;
		.pagination {
			margin : 0;
		}
		.pager-info {
			margin : 10px; font-size : 18px; line-height: 1.5rem; vertical-align: bottom;
		}
	}
	.orderlst-body {
		-webkit-box-flex : 1; -webkit-box-flex-group : 1;
		position:  relative;
		> .grid-box {
			position: absolute; top : 0; bottom : 0; left : 0; right : 0;
		}
		.table-responsive {
			// 
		}
		table.table {
			height : 100%; margin-bottom : 0;
			td, th {
				position : relative; height : percentage(1 / 16); vertical-align: top; line-height: 2rem;
				cursor : pointer;
				&.subtype {overflow: hidden; padding-left: 2rem;}
				&.num, &.date {
					text-align: right;
				}
				&.txt {
					text-align: left;
				}
			}

		}

	}
	.icon-waimai, .icon-ziti, .icon-tangshi {
		width : 32px; height : 32px; -webkit-transform: scale(0.6);
		position: absolute; left : 2rem; top : 4px;
	}
	.icon-waimai {
		.x-icon-32_waimai();
	}
	.icon-ziti {
		.x-icon-32_ziti();
	}
	.icon-tangshi {
		.x-icon-32_dingzuo();
	}
	.zizhu {
		position : absolute;  left : -24px; top : -24px;
		display: inline-block; width : 48px; height : 48px;
		border-radius: 50%; background-color: @xDarkBtnBG;
		> .icon-zizhu {
			position : absolute; bottom : 8px; right : 8px; width : 16px; height : 16px;
			.x-icon-16_mobile(); -webkit-transform : scale(0.8);
		}
	}
	
}

.orderdetail-modal {
	.modal-dialog {
		position : absolute; left : 6rem; right : 0; top : 0; bottom : 0; padding : 0; margin : 0; width : auto!important;
		.modal-content, .modal-body {width : 100%; height : 100%; margin : 0; padding : 0;}
		.modal-footer {position : absolute; width : 100%; margin : 0; padding : 0;}
		.modal-footer {left : 0; bottom : 0; border-top : 1px solid @xBaseBorderColor; padding : 1px;}
		.modal-body {position : relative; padding-bottom : 94px;}
		.section-diandan .order-box {
			width : 100%;
			// .order-footer {bottom : 2px;}
		}
		.section-diandan {
			.order-plain {
				.order-box {padding-bottom : 5rem;}
				width : 50%;
				.order-list {
					overflow: auto; padding-bottom : 0; height : initial;
				}
				.order-list .table-responsive {
				}
				.table td, .table th {
					min-width:8em;
				}
				.order-footer {
					height : 5rem;
				}
			}
			.detail-plain {
				position : absolute; right : 0; top : 0; bottom : 0; left : 50%;
				.order-detail, .paylst-plain {
					position : relative; padding-top: 40px;
					> header {position: absolute; left : 0; top : 0;}
					> .detail-grid {
						height: 100%; overflow: auto;
						.item > label, .item > p {padding : 0 .5rem 0 0; margin-bottom : 5px;}
					}
				}
				.order-detail {
					height: 80%; border-bottom: 1px solid @xBaseBorderColor;
				}
				.paylst-plain {
					height : 20%;
				}
				header > h4 {padding : 0 1.5rem;}
				.paylst-grid .row:last-child > .cash {color : #f00; font-weight: bold;}
			}
		}
	}
}