.section-huiyuan{
    postion : absolute; left : 0; right : 0; top : 0; bottom : 0;
    .form-inline{
        label{
            width: 120px;
        }
    }

    label{
        text-align: right;
        margin-right: 10px;
    }

    .panel-heading{
        background: none;
    }

    .panel{
        border-radius: 0px;
    }

    .tab{
        position: relative;
    }

    .tab-join{
        .panel-viplevel{
            position: absolute;
            right: -120px;
            top: -21px;
            background: white;

            .header{
                font-size: 18px;
                padding: 7px 10px;
                border: 1px solid #c1c1c1;
                margin-bottom: -1px;
            }

            ul{
                width: 300px;
                padding: 0px;
                margin: 0px;
                overflow-y: auto;

                li{
                    display: block;
                    height: 80px;
                    padding: 10px;
                    margin: -1px 0px;
                    border: 1px solid #c1c1c1;
                    cursor: pointer;
                    position: relative;
                }

                .true{
                    background: #ddecff;
                }
            }
        }
    }

    .tab-recharge{
        .panel-rechargeplan{
            position: absolute;
            right: -200px;
            top: -21px;
            background: white;

            .header{
                font-size: 18px;
                padding: 7px 10px;
                border: 1px solid #c1c1c1;
                margin-bottom: -1px;
            }

            ul{
                width: 300px;
                padding: 0px;
                margin: 0px;

                li{
                    display: block;
                    min-height: 80px;
                    padding: 10px;
                    margin: -1px 0px;
                    border: 1px solid #c1c1c1;
                    cursor: pointer;
                }

                .active{
                    background: #ddecff;
                }
            }
        }
    }

    .tab-consume{
        .panel-vouchers{
            position: absolute;
            right: -200px;
            top: -21px;
            background: white;

            .header{
                font-size: 18px;
                padding: 7px 10px;
                border: 1px solid #c1c1c1;
                margin-bottom: -1px;
            }

            ul{
                width: 300px;
                padding: 0px;
                margin: 0px;
                overflow-y: auto;

                li{
                    display: block;
                    height: 80px;
                    padding: 10px;
                    margin: -1px 0px;
                    border: 1px solid #c1c1c1;
                    cursor: pointer;
                    position: relative;

                    .left{
                        position: absolute;
                        display: inline-block;
                        width: 80px;
                        padding: 10px;
                        height: 80px;
                        left: 0px;
                        top: 0px;
                        font-size: 20px;
                        font-weight: bold;
                    }

                    .right{
                        margin-left: 80px;
                    }
                }

                .active{
                    background: #ddecff;
                }
            }
        }
    }

    .userinfo{
        position: absolute;
        right: 0px;
        top: 41px;
        border: 1px solid #c1c1c1;
        height: 100%;
        width: 300px;
        background: white;

        .header{
            font-size: 18px;
            padding: 7px 10px;
            border-bottom: 1px solid #c1c1c1;
        }

        .label{
            display: inline-block;
            color: #000000;
            font-size: 16px;
            padding: 0px;
            margin: 0px 10px 0 0;
            width: 85px;
            text-align: right;
            font-weight: normal;
        }

        .btn-prtvipinfo{
            position: fixed;
            bottom: 0px;
            right: 0px;
            width: 300px;
            height: 50px;
        }
    }

    .btn-disable{
        background: #c1c1c1 !important;
        cursor: not-allowed !important;

        :hover{
            background: #c1c1c1 !important;
            cursor: not-allowed !important;
        }
    }

    .btn-submit{
        height: 60px;
        width: 500px;
    }

    .receipt-cnt {
        p {
            margin : 0; padding : 0; line-height: 1.5em; font-size: 1em;
            &.font-1x {font-size : 1em;}
            &.font-2x {font-size : 1.5em;}
            &.bold {font-weight: 700;}
            &.highlight > span {background-color: #111; color : #fff;}
        }
    }
}