.section-huiyuan{

    .form-inline{
        label{
            width: 100px;
        }
    }

    label{
        text-align: right;
        margin-right: 10px;
    }

    .nav{
        border: none !important;

        li{
            background: #fde9c9;
            cursor: pointer;

            a{
                color: #6f3e26 !important;
                font-weight: bolder;
                background: none;
                border: none;
            }

            a:hover{
                background: inherit !important;
                border: none;
            }
        }

        .active{
            background: #e6b073;
        }
    }

    .panel-heading{
        background: none;
    }

    .panel{
        border-radius: 0px;
    }

    .tab{
        position: relative;

        .btn-submit{
            background: #f7d66b !important;
            padding: 20px 50px;
            color: #6f3e26 !important;
            font-weight: bolder;
            border-radius: 0px !important;
            border: none !important;
            font-size: 18px;
        }

        .btn-disable{
            color: white !important;
            background: #c1c1c1 !important;
            cursor: not-allowed !important;

            :hover{
                background: #c1c1c1 !important;
                cursor: not-allowed !important;
            }
        }
    }

    .tab-join{
        .panel-viplevel{
            position: absolute;
            right: -20px;
            top: -59px;

            .header{
                font-size: 18px;
                padding: 7px 10px;
                border-bottom: 1px solid #c1c1c1;
                margin-bottom: -1px;
            }

            ul{
                width: 300px;
                padding: 0px;
                margin: 0px;
                overflow-y: auto;

                li{
                    display: block;
                    height: 80px;
                    padding: 10px;
                    margin: -1px 0px;
                    border: 1px solid #c1c1c1;
                    cursor: pointer;
                    position: relative;
                }

                .true{
                    background: #ddecff;
                }
            }
        }
    }

    .tab-recharge{
        .panel-rechargeplan{
            position: absolute;
            right: -20px;
            top: -59px;

            .header{
                font-size: 18px;
                padding: 7px 10px;
                border-bottom: 1px solid #c1c1c1;
                margin-bottom: -1px;
            }

            ul{
                width: 300px;
                padding: 0px;
                margin: 0px;

                li{
                    display: block;
                    min-height: 80px;
                    padding: 10px;
                    margin: -1px 0px;
                    border: 1px solid #c1c1c1;
                    cursor: pointer;
                }

                .active{
                    background: #ddecff;
                }
            }
        }
    }

    .tab-consume{
        .panel-vouchers{
            position: absolute;
            right: -20px;
            top: -59px;

            .header{
                font-size: 18px;
                padding: 7px 10px;
                border-bottom: 1px solid #c1c1c1;
                margin-bottom: -1px;
            }

            ul{
                width: 300px;
                padding: 0px;
                margin: 0px;
                overflow-y: auto;

                li{
                    display: block;
                    height: 80px;
                    padding: 10px;
                    margin: -1px 0px;
                    border: 1px solid #c1c1c1;
                    cursor: pointer;
                    position: relative;

                    .left{
                        position: absolute;
                        display: inline-block;
                        width: 80px;
                        padding: 10px;
                        height: 80px;
                        left: 0px;
                        top: 0px;
                        font-size: 20px;
                        font-weight: bold;
                    }

                    .right{
                        margin-left: 80px;
                    }
                }

                .active{
                    background: #ddecff;
                }
            }
        }
    }

    .userinfo{
        position: absolute;
        left: 669px;
        top: 0px;
        border-left: 1px solid #c1c1c1;
        border-right: 1px solid #c1c1c1;
        height: 100%;
        width: 300px;

        .header{
            font-size: 18px;
            padding: 7px 10px;
            border-bottom: 1px solid #c1c1c1;
        }

        .label{
            display: inline-block;
            color: #000000;
            font-size: 16px;
            padding: 0px;
            margin: 0px 10px 0 0;
            width: 85px;
            text-align: right;
            font-weight: normal;
        }
    }

    .btn-disable{
        background: #c1c1c1 !important;
        cursor: not-allowed !important;

        :hover{
            background: #c1c1c1 !important;
            cursor: not-allowed !important;
        }
    }
}