html {
	width : 100%; height : 100%; overflow: hidden;
}
body {
	width : 100%; height : 100%; font-family: @xBaseFontFamily; font-size : @xBaseFontSize;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../js/vendor/bootstrap/glyphicons-halflings-regular.eot');
  src: url('../js/vendor/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../js/vendor/bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('../js/vendor/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url('../js/vendor/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

// 覆盖bootstrap默认样式
.row {
	margin : 0;
	> div[class*="col-"] {
		padding : 0;
	}
}
// 覆盖表单元素默认样式
.has-feedback .form-control {
	padding-right : 12px;
}
// 重置模态创部分默认样式
.modal {
	.modal-footer {
		padding : 0;
	}
}
// 重置panel部分默认样式
.panel {
	.panel-footer {
		padding : 0;
	}
}

// 增加表格默认样式
.table {
	td, th {
		&.txt, &.date {text-align: left;}
		&.num {text-align: right;}
	}
}

// 页面框架
@siteHeaderW : 6rem;
@siteLogoW : 5rem;
@siteLogoH : 5rem;
#site_wrapper {
	position : relative; display : block; margin : 0; height : 100%;
}
#site_header {
	position : absolute; top : 0; bottom : 0; left : 0;
	width : @siteHeaderW; border-right : 1px solid @xBaseBorderColor; 
	background-color: @xPageHeaderBG;
	// outline : 1px solid #111;
	.nav-pills {
		li > a {text-align: center; color : @xSiteNavColor;}
		.glyphicon {
			display: block; font-size: 3rem; margin-bottom: .5rem;
		}
		> li.active > a,
		> li.active > a:hover,
		> li.active > a:focus {
			color : @xSiteNavActiveColor;
			background-color: transparent;
		}
	}
}
#site_body {
	height : 100%; margin-left : @siteHeaderW; position: relative;
	// outline: 1px solid #f0f;
	> .section, > section {

	}
}

// 左侧导航
.site-nav {
	.logo {
		display: block; margin : .5rem auto .5rem; width : @siteLogoW; height : @siteLogoH;
		> img {
			display: block; width : 100%; height : 100%; border : 0 none;
		}
	}
	.empname {
		text-align: center; font-size: 14px; font-weight: bold; margin : 0 auto 2rem;
	}
	.nav > li:last-child {
		position : absolute; bottom : 5rem; width: 100%;
	}

}
@media screen and (max-height : 768px) {
	#site_header .nav-pills .glyphicon {
		font-size : 2.5rem;
	}
	.site-nav .empname {
		margin-bottom : 0rem;
	}
	.site-nav .nav > li > a {padding : 5px 15px;}
	.site-nav .nav > li:last-child {
		bottom : .5rem;
	}
}

// 场景页面
.welcome, .sign, .puppet {
	#site_header {
		display: none;
	}
	#site_body {
		margin-left : 0;
	}
}

// 顶部提示框
.site-toptip {
	position : fixed; top : 3rem; left : 50%; margin-left : -20rem; z-index: 9999; width: 40rem; text-align: center;
}
// confirm框样式
.site-confirm {
	.media .media-object > .glyphicon{
		font-size : 4rem;
	}
	.modal-footer {
		padding : 0px; border-bottom-left-radius : 5px; border-bottom-right-radius : 5px;
	}
}

// 系统进度条loading效果
.site-loading {
	position : fixed; left : 0; top : 0; right : 0; bottom : 0; background-color: rgba(255, 255, 255, .4); z-index: 9999;
	text-align: center;
	.progress-striped {
		width : 300px; margin : 20rem auto 0;
	}
	.msg {
		width : 300px; margin : .5rem auto 0; text-align: left;
	}
}

// 欢迎页面
.section-welcome {
	position : relative; height : 100%; background: #65321d;
	.welcome-logo {
		-webkit-transition : left 1s ease-out;
		position : absolute; left : 0; top : 20%; width : 80%; height : 40%; text-align: center;
		background-image : url(../img/start_logo.png);
		background-repeat: no-repeat;
		background-position : 0 0;
		background-size : 100% auto;
		// -webkit-animation : flashinLeft .5s ease-out;
		
		
	}
	.service-call {
		position : absolute; bottom : 0; left : 40%; margin-bottom : 0; width : 20%; height : 10%; text-align: center;
		background-image : url(../img/start_call.png);
		background-repeat : no-repeat;
		background-position : 0 0;
		background-size : 100% auto;
		background-size : 100% auto;
		// -webkit-animation : flashinRight .5s ease-out;
		-webkit-transition : bottom 1s ease-out;
	}
	.copyright {
		position : absolute; bottom : 20px; right : 120px; color : #fff; font-size : 2rem; font-weight: bold;
	}
	&.loaded {
		.welcome-logo {
			// -webkit-transform : translate(10%);
			left : 10%;
		}
		.service-call {
			// -webkit-transform : translate(40%);
			// margin-bottom : 25%;
			bottom : 20%;
		}
	}
}
@-webkit-keyframes flashinLeft {
	0% {
		left : 0%; top : 20%;
	}
	100% {
		left : 20%; top : 20%;
	}
}
@-webkit-keyframes flashinRight {
	0% {
		left : 100%; bottom : 15%;
	}
	100% {
		left : 40%; bottom : 15%;
	}
}


// 更多站点功能页面
.section-profile {
	position : relative; height : 100%;
	.site-btngrp {
		@rows : 4;
		position : absolute; 
		top : 20%; bottom : 20%; left : 20%; right : 20%;
		border : 1px solid @xBaseBorderColor;
		> .btn {
			height : percentage(1 / @rows);
		}

	}
}

// 登录页面
.signin-panel .panel-body {
	height : 300px;
}

