html {
	width : 100%; height : 100%; overflow: hidden;
}
body {
	width : 100%; height : 100%; font-family: @xBaseFontFamily; font-size : @xBaseFontSize;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../js/vendor/bootstrap/glyphicons-halflings-regular.eot');
  src: url('../js/vendor/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../js/vendor/bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('../js/vendor/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url('../js/vendor/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

// 覆盖bootstrap默认样式
.row {
	margin : 0;
	> div[class*="col-"] {
		padding : 0;
	}
}
// 重置模态创部分默认样式
.modal {
	.modal-footer {
		padding : 0;
	}
}
// 重置panel部分默认样式
.panel {
	.panel-footer {
		padding : 0;
	}
}

// 页面框架
@siteHeaderW : 6rem;
@siteLogoW : 5rem;
@siteLogoH : 5rem;
#site_wrapper {
	position : relative; display : block; margin : 0; height : 100%;
}
#site_header {
	position : absolute; top : 0; bottom : 0; left : 0;
	width : @siteHeaderW; border-right : 1px solid @xBaseBorderColor;
	// outline : 1px solid #111;
}
#site_body {
	height : 100%; margin-left : @siteHeaderW; position: relative;
	// outline: 1px solid #f0f;
	> .section, > section {

	}
}

// 左侧导航
.site-nav {
	.logo {
		display: block; margin : 1.5rem auto 6rem; width : @siteLogoW; height : @siteLogoH;
		> img {
			display: block; width : 100%; height : 100%; border : 0 none;
		}
	}
	.nav > li:last-child {
		position : absolute; bottom : 5rem; width: 100%;
	}
}

// 场景页面
.welcome, .sign {
	#site_header {
		display: none;
	}
	#site_body {
		margin-left : 0;
	}
}

// 顶部提示框
.site-toptip {
	position : fixed; top : 3rem; left : 50%; margin-left : -20rem; z-index: 9999; width: 40rem; text-align: center;
}
// confirm框样式
.site-confirm {
	.media .media-object > .glyphicon{
		font-size : 4rem;
	}
	.modal-footer {
		padding : 0px; border-bottom-left-radius : 5px; border-bottom-right-radius : 5px;
	}
}

// 更多站点功能页面
.section-profile {
	position : relative; height : 100%;
	.site-btngrp {
		@rows : 4;
		position : absolute; 
		top : 20%; bottom : 20%; left : 20%; right : 20%;
		border : 1px solid @xBaseBorderColor;
		> .btn {
			height : percentage(1 / @rows);
		}

	}
}

