// 显示器高度分类
@xScreen-md-max : 800;
@xScreen-lg-max : 1080;

// 默认字体
@xBaseFontFamily : Microsoft Yahei,Tahoma,Verdana,sans-serif,simsun,Arial;
@xBaseFontSize : 14px;

// 基本文字颜色
@xBaseColor : #333;

@xBaseBorderColor : #e6e6e6;
// 深色按钮背景色
@xDarkBtnBG : #9cf;
@xDarkBtnActiveBG : #369;
// 深色按钮激活状态文字颜色
@xDarkBtnActiveColor : #fff;

// 浅色按钮背景色
@xLightBtnBG : #e6f2fd;
@xLightBtnActiveBG : #c5e0fa;


