<section class="section section-profile" ng-controller="MoreViewController">
	<div class="row site-btngrp">
		<button class="btn btn-default col-xs-4" type="button" ng-click="appModifyPWD($event)">修改密码</button>
		<button class="btn btn-default col-xs-4" type="button" ng-click="appSetting($event)">站点设置</button>
		<button class="btn btn-default col-xs-4" type="button" ng-click="appDebug($event)">调试</button>
		<button class="btn btn-default col-xs-4" type="button" ng-click="appServerInfo($event)">服务器信息</button>
		<button class="btn btn-default col-xs-4" type="button" ng-click="appLogout()">注销</button>
		<button class="btn btn-default col-xs-4" type="button" ng-click="appExit($event)">退出</button>
	</div>
	<alert class="site-toptip" ng-repeat="alert in toptips" type="{{alert.type}}" close="closeTopTip($index)" dismiss-on-timeout="1500">{{alert.msg}}</alert>
	
	<!-- 选择桌台 -->
	<script type="text/ng-template" id="js/profile/servermodal.html">
		<div class="modal-header">
			<button class="close" type="button" data-dismiss="modal" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">
				服务器信息
				<small>哗啦啦服务热线:{{HLLServiceTel}}</small>
			</h4>
			
		</div>
		<div class="modal-body">
			<!-- <div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"></h4>
				</div>
				<div class="panel-body">
					
				</div>
			</div> -->
			<div class="col-xs-6 clearfix">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							店铺基本信息
						</h4>
					</div>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">集团名称</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{shopInfo.groupName}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">店铺ID</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{shopInfo.shopID}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">店铺名称</label>
								<div class="col-xs-8">
									<p class="form-control-static" >{{shopInfo.shopName + '(' + (shopInfo.IsShopReged == 1 ? '已' : '未') + '注册)'}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">店铺电话</label>
								<div class="col-xs-8">
									<p class="form-control-static" >{{shopInfo.shopTel}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">所在城市</label>
								<div class="col-xs-8">
									<p class="form-control-static" >{{shopInfo.shopCityName}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">店铺地址</label>
								<div class="col-xs-8">
									<p class="form-control-static" >{{shopInfo.shopAddress}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">营业模式</label>
								<div class="col-xs-8">
									<p class="form-control-static" >{{shopInfo.shopBizMode == 0 ? '正餐' : '快餐'}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">开通业务</label>
								<div class="col-xs-8">
									<p class="form-control-static" >{{shopInfo.shopServiceFeatures}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							本地服务器信息
						</h4>
					</div>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">服务器名</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{localApp.HttpServerComputerName}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">日期格式</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{localApp.HttpServerSysDateTimeFormatStr}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">厨打凭证类型</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{localApp.KitchenPrintBillTypeLst}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">账单元整方式</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{localApp.moneyWipeZeroType}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">后结账自助点菜下单验证码</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{localApp.ConfirmationCode}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">打印机端口名</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{localApp.LocalSitePrinterPortName}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">打印机端口类型</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{localApp.LocalSitePrinterPortType}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">打印机纸张大小</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{localApp.LocalSitePrinterPageSize}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">每行打印最大字符数</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{localApp.LocalSitePrinterLineMaxCharCount}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 clearfix">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							云端服务器信息
						</h4>
					</div>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">云端接口域名</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{cloudServer.apiAPIHost}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">云端服务器状态</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{cloudServer.CloudHostConnecttionStatus}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							本地APP信息
						</h4>
					</div>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">版本号</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{localApp.appVersionNo}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">安装路径</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{localApp.appPath}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">数据库文件名</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{localApp.DBFileName}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">数据库大小</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{localApp.DBFileSize}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">WebAPP版本</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{localApp.WebAppVersionNo}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">调试模式</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{localApp.DebugModel == 'ON' ?  "开启" : "关闭"}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							本地服务器统计信息
						</h4>
					</div>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">厨打程序状态</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{localMonitor.KitchenPrintActive == 1 ? '开启' : '关闭'}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">接收远端消息</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{localMonitor.IsRevMsgFormAPIHost == 1 ? '开启' : '关闭'}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">服务器运行时长</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{localMonitor.HttpServerStartTickCount}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">监控程序运行时长</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{localMonitor.MonitorThreadLastTickCount}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">消息程序运行时长</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{localMonitor.MsgThreadLastTickCount}}</p>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-xs-4 control-label">厨打程序运行时长</label>
								<div class="col-xs-8">
									<p class="form-control-static">{{localMonitor.PrintThreadLastTickCount}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="btn-group btn-group-justified" role="group">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default btn-lg" ng-click="close()" >关闭</button>
				</div>
			</div>
		</div>
	</script>
</section>