<section class="section section-chupin" ng-controller="ProduceViewController">
	<header class="chupin-header">
		<div class="filter-bar row clearfix">
			<div class="col-xs-4">
				<div class="input-group">
					<input type="text" class="form-control input-lg" placeholder="订单号、手机号、桌台、凭证号等" ng-model="qform.qKeyword" ng-keyup="queryByKeyword($event)" />
					<span class="input-group-btn" ng-click="queryByKeyword($event)">
						<button class="btn btn-default btn-lg" type="button">搜索</button>
					</span>
				</div>
			</div>
			<div class="col-xs-7 col-xs-offset-1 clearfix">
				<div class="btn-group btn-group-justified">
					<label class="btn btn-default btn-lg col-xs-3" ng-model="qform.qActionType" btn-radio="'JXZ'" ng-click="queryByActionType('JXZ')">
						进行中
						<span class="badge" ng-class="{hidden : hideBadge('JZXOrderCount')}">{{JZXOrderCount}}</span>
					</label>
					<label class="btn btn-default btn-lg col-xs-3" ng-model="qform.qActionType" btn-radio="'PDZ'" ng-click="queryByActionType('PDZ')">
						排队中
						<span class="badge" ng-class="{hidden : hideBadge('PDZOrderCount')}">{{PDZOrderCount}}</span>
					</label>
					<label class="btn btn-default btn-lg col-xs-3" ng-model="qform.qActionType" btn-radio="'YGQ'" ng-click="queryByActionType('YGQ')">
						挂起
						<span class="badge" ng-class="{hidden : hideBadge('YGQOrderCount')}">{{YGQOrderCount}}</span>
					</label>
					<label class="btn btn-default btn-lg col-xs-3" ng-model="qform.qActionType" btn-radio="'YWC'" ng-click="queryByActionType('YWC')">
						已完成
					</label>
				</div>
			</div>
		</div>
		
	</header>
	<div class="chupin-body row">
		<!-- 订单处理状态，订单是否被选中，订单是否被展开 -->
		<div class="col-md-4 col-lg-3 order-item {{order.orderDealStatus}}" ng-class="{active : isSelectedOrder(order),  'offset-md' : isOffsetItem($index, 6), 'offset-lg' : isOffsetItem($index, 8), hidden : order.hidden}" ng-repeat="order in OrderLst" id="{{order.saasOrderKey}}" item-idx="{{$index}}">
			<div class="order-box" ng-click="selectOrder(order)">
				<div class="panel panel-default">
					<div class="panel-heading row">
						<!-- 订单桌台号(订单单号)， -->
						<div class="col-xs-3 panel-title">{{order.tableName || order.saasOrderNo}}</div>
						<div class="col-xs-3 amount clearfix">
							<span class="order-type">
								<!-- 订单类型图标 -->
								<span class="{{getOrderSubType(order)}}"></span>
							</span>
							<!-- 订单实收金额 -->
							<span class="num">{{order.paidAmount | mycurrency:"￥"}}</span>
							
						</div>
						<div class="col-xs-3 amount">
							<!-- 菜品条目数量 -->
							<span class="num">{{order.foodCount || 0}}条</span>
						</div>
						<!-- 订单开始制作时间 -->
						<div class="col-xs-3 time">{{order.makeIntervalTime}}</div>
					</div>
					<div class="food-box clearfix">
						<ul class="list-group food-lst">
							<li class="list-group-item food-item row {{getFoodMakeStatusStyle(order, food)}}" ng-repeat="food in order.foodLst" ng-click="toggleFood($event, order, food)" ng-class="{active : food.selected == true}" item-key="{{food.itemKey}}">
								<!-- 菜品制作状态 -->
								<div class="col-xs-3 status">{{getFoodMakeStatusStr(order, food)}}</div>
								<!-- 菜品数量 -->
								<div class="col-xs-1 num">{{food.foodNumber}}</div>
								<div class="col-xs-8 txt">{{food.foodName}}/{{food.unit}}</div>
								<div class="col-xs-offset-4 col-xs-8 remark" ng-if="food.foodRemark.length > 0">
									<span class="label label-danger">{{food.foodRemark}}</span>
								</div>
							</li>
						</ul>
					</div>
					<div class="pager">
						<div class="btn-grp btn-group-justified " food-pager="{{order.saasOrderKey}}">
							<div class="btn-group" role="group">
								<button class="btn btn-default btn-block btn-lg btn-prev" type="button" pager-act="prev">上页</button>
							</div>
							<div class="btn-group" role="group">
								<button class="btn btn-default btn-block btn-lg btn-next" type="button" pager-act="next">下页</button>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<!-- <div class="chupin-body row">
		<div class="col-md-4 col-lg-3 order-item active">
			<div class="order-box">
				<div class="panel panel-default">
					<div class="panel-heading row">
						<div class="col-xs-3 panel-title">A109</div>
						<div class="col-xs-6 ">
							<span class="order-type">
								<span class="icon-tangshi"></span>
							</span>
							<span class="num">￥35</span>
						</div>
						<div class="col-xs-3 time">00:00:14</div>
					</div>
					<div class="food-box">
						<ul class="list-group food-lst">
							<li class="list-group-item food-item row">
								<div class="col-xs-3 status">叫2</div>
								<div class="col-xs-1 num">2</div>
								<div class="col-xs-8 txt">可乐/大杯</div>
								<div class="col-xs-offset-4 col-xs-8 remark">
									<span class="label label-danger">不加冰</span>
								</div>
							</li>
							<li class="list-group-item food-item row active">
								<div class="col-xs-3 call">叫2</div>
								<div class="col-xs-1 num">2</div>
								<div class="col-xs-8 txt">可乐/大杯</div>
								<div class="col-xs-offset-4 col-xs-8 remark">
									<span class="label label-danger">不加冰</span>
								</div>
							</li>
							<li class="list-group-item food-item row disabled active">
								<div class="col-xs-3 call">叫2</div>
								<div class="col-xs-1 num">2</div>
								<div class="col-xs-8 txt">薯条/中</div>
								<div class="col-xs-offset-4 col-xs-8 remark">
									<span class="label label-danger">不加冰</span>
								</div>
							</li>
							<li class="list-group-item food-item row disabled">
								<div class="col-xs-3 call">叫2</div>
								<div class="col-xs-1 num">2</div>
								<div class="col-xs-8 txt">薯条/中</div>
								<div class="col-xs-offset-4 col-xs-8 remark">
									<span class="label label-danger">不加冰</span>
								</div>
							</li>
							<li class="list-group-item food-item row disabled">
								<div class="col-xs-3 call">叫2</div>
								<div class="col-xs-1 num">2</div>
								<div class="col-xs-8 txt">薯条/中</div>
								<div class="col-xs-offset-4 col-xs-8 remark">
									<span class="label label-danger">不加冰</span>
								</div>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>

		<div class="col-md-4 col-lg-3 order-item active warning popup">
			<div class="order-box">
				<div class="panel panel-default">
					<div class="panel-heading row">
						<div class="col-xs-3 panel-title">A109</div>
						<div class="col-xs-6 ">
							<span class="order-type">
								<span class="icon-tangshi"></span>
							</span>
							<span class="num">￥35</span>
						</div>
						<div class="col-xs-3 time">00:00:14</div>
					</div>
					<div class="food-box">
						<ul class="list-group food-lst">
							<li class="list-group-item food-item row">
								<div class="col-xs-3 status">叫2</div>
								<div class="col-xs-1 num">2</div>
								<div class="col-xs-8 txt">可乐/大杯</div>
								<div class="col-xs-offset-4 col-xs-8 remark">
									<span class="label label-danger">不加冰</span>
								</div>
							</li>
							<li class="list-group-item food-item row active">
								<div class="col-xs-3 call">叫2</div>
								<div class="col-xs-1 num">2</div>
								<div class="col-xs-8 txt">可乐/大杯</div>
								<div class="col-xs-offset-4 col-xs-8 remark">
									<span class="label label-danger">不加冰</span>
								</div>
							</li>
							<li class="list-group-item food-item row disabled active">
								<div class="col-xs-3 call">叫2</div>
								<div class="col-xs-1 num">2</div>
								<div class="col-xs-8 txt">薯条/中</div>
								<div class="col-xs-offset-4 col-xs-8 remark">
									<span class="label label-danger">不加冰</span>
								</div>
							</li>
							<li class="list-group-item food-item row disabled">
								<div class="col-xs-3 call">叫2</div>
								<div class="col-xs-1 num">2</div>
								<div class="col-xs-8 txt">薯条/中</div>
								<div class="col-xs-offset-4 col-xs-8 remark">
									<span class="label label-danger">不加冰</span>
								</div>
							</li>
							<li class="list-group-item food-item row disabled">
								<div class="col-xs-3 call">叫2</div>
								<div class="col-xs-1 num">2</div>
								<div class="col-xs-8 txt">薯条/中</div>
								<div class="col-xs-offset-4 col-xs-8 remark">
									<span class="label label-danger">不加冰</span>
								</div>
							</li>
						</ul>
					</div>
					<div class="pager">
						<div class="btn-grp btn-group-justified " order-pager="{{curFoodItems.length}}">
							<div class="btn-group" role="group">
								<button class="btn btn-default btn-block btn-lg btn-prev" type="button" pager-act="prev">上页</button>
							</div>
							<div class="btn-group" role="group">
								<button class="btn btn-default btn-block btn-lg btn-next" type="button" pager-act="next">下页</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4 col-lg-3 order-item danger">
			<div class="order-box">
				<div class="panel panel-default">
					<div class="panel-heading row">
						<div class="col-xs-3 panel-title">A109</div>
						<div class="col-xs-6 ">
							<span class="order-type">
								<span class="icon-tangshi"></span>
							</span>
							<span class="num">￥35</span>
						</div>
						<div class="col-xs-3 time">00:00:14</div>
					</div>
					<div class="food-box">
						<ul class="list-group food-lst">
							
						</ul>
					</div>
					
				</div>
			</div>
		</div>

		<div class="col-md-4 col-lg-3 order-item">
			<div class="order-box">
				<div class="panel panel-default">
					<div class="panel-heading row">
						<div class="col-xs-3 panel-title">A109</div>
						<div class="col-xs-6 ">
							<span class="order-type">
								<span class="icon-tangshi"></span>
							</span>
							<span class="num">￥35</span>
						</div>
						<div class="col-xs-3 time">00:00:14</div>
					</div>
					<div class="food-box">
						<ul class="list-group food-lst">
							
						</ul>
					</div>
					
				</div>
			</div>
		</div>

		<div class="col-md-4 col-lg-3 order-item">
			<div class="order-box">
				<div class="panel panel-default">
					<div class="panel-heading row">
						<div class="col-xs-3 panel-title">A109</div>
						<div class="col-xs-6 ">
							<span class="order-type">
								<span class="icon-tangshi"></span>
							</span>
							<span class="num">￥35</span>
						</div>
						<div class="col-xs-3 time">00:00:14</div>
					</div>
					<div class="food-box">
						<ul class="list-group food-lst">
							
						</ul>
					</div>
					
				</div>
			</div>
		</div>

		<div class="col-md-4 col-lg-3 order-item">
			<div class="order-box">
				<div class="panel panel-default">
					<div class="panel-heading row">
						<div class="col-xs-3 panel-title">A109</div>
						<div class="col-xs-6 ">
							<span class="order-type">
								<span class="icon-tangshi"></span>
							</span>
							<span class="num">￥35</span>
						</div>
						<div class="col-xs-3 time">00:00:14</div>
					</div>
					<div class="food-box">
						<ul class="list-group food-lst">
							
						</ul>
					</div>
					
				</div>
			</div>
		</div>
	</div> -->
	<footer class="chupin-footer">
		<div class=" row clearfix">
			<div class="col-xs-4" >
				<p ng-if="!!curFocusOrder">
					当前订单信息:<br/>
					<span ng-if="!!curFocusOrder.tableName">桌台号: {{curFocusOrder.tableName}}<span><br/>
					<span ng-if="!!curFocusOrder.saasOrderNo">单号: {{curFocusOrder.saasOrderNo}}</span>

				</p>
			</div>
			<div class="col-xs-8">
				<button for="" class="btn btn-warning btn-lg col-xs-3" ng-click="foodOperate('CCJH')">叫号</button>
				<button for="" class="btn btn-warning btn-lg col-xs-3" ng-click="foodOperate('ZSGQ')">挂起</button>
				<button for="" class="btn btn-warning btn-lg col-xs-3" ng-click="foodOperate('ZZWC')">完成</button>
				<button for="" class="btn btn-warning btn-lg col-xs-3" ng-click="nextOrderLstPage()">翻页</button>
			</div>
		</div>
	</footer>
</section>