<section class="section section-orderlst" ng-controller="DingDanViewController">
	<header class="orderlst-header row">
		<div class="row filter-bar">
			<div class="col-xs-3 clearfix">
				<div class="input-group">
					<input type="text" class="form-control input-lg" readonly datepicker-popup="yyyy/MM/dd" placeholder="日期" ng-model="qReportDate" is-open="datePickerOpened" max-date="today()" datepicker-options="datePickerOptions" close-text="关闭" current-text="今天" clear-text="清空" ng-keyup="queryByReportDate($event, qReportDate)" ng-change="queryByReportDate($event, qReportDate)" ng-click="openDatePicker($event)"/>
					<span class="input-group-btn">
						<button class="btn btn-default btn-lg" type="button" ng-click="openDatePicker($event)">
							<span class="glyphicon glyphicon-calendar"></span>
						</button>
					</span>
				</div>
			</div>
			<div class="btn-group col-xs-3 clearfix">
				<label class="btn btn-default btn-lg col-xs-3" ng-model="qOrderSubType" btn-radio="'-1'" ng-click="queryByOrderSubType('-1')">全部</label>
				<label class="btn btn-default btn-lg col-xs-3" ng-model="qOrderSubType" btn-radio="'0'" ng-click="queryByOrderSubType('0')">堂食</label>
				<label class="btn btn-default btn-lg col-xs-3" ng-model="qOrderSubType" btn-radio="'1'" ng-click="queryByOrderSubType('1')">外卖</label>
				<label class="btn btn-default btn-lg col-xs-3" ng-model="qOrderSubType" btn-radio="'2'" ng-click="queryByOrderSubType('2')">自提</label>
			</div>
			<div class="btn-group col-xs-3 clearfix">
				<label for="" class="btn btn-default btn-lg col-xs-4" ng-model="qOrderStatus" btn-radio="'20'" ng-click="queryByOrderStatus('20')">未结账</label>
				<label for="" class="btn btn-default btn-lg col-xs-4" ng-model="qOrderStatus" btn-radio="'40'" ng-click="queryByOrderStatus('40')">已结账</label>
				<label for="" class="btn btn-default btn-lg col-xs-4" ng-model="qOrderStatus" btn-radio="'30'" ng-click="queryByOrderStatus('30')">已作废</label>
			</div>
			<div class="col-xs-3 clearfix">
				<div class="input-group">
					<input type="text" class="form-control input-lg" placeholder="订单号、手机、桌台、凭证" ng-model="qKeyword" ng-keyup="queryByKeyword($event)" />
					<span class="input-group-btn" ng-click="queryByKeyword($event)"><button class="btn btn-default btn-lg" type="button">搜索</button></span>
				</div>
			</div>
			
		</div>
		
	</header>
	<div class="orderlst-body">
		<div class="grid-box">
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th class="subtype">类型</th>
							<th class="txt">订单号</th>
							<th class="txt">渠道</th>
							<th class="txt">台牌</th>
							<th class="num">人数</th>
							<th class="num">订单金额</th>
							<th class="num">实收金额</th>
							<th class="txt">状态</th>
							<th class="txt">收银员</th>
							<th class="date">点餐时间</th>
							<th class="date">就餐时间</th>
							<th class="date">结账时间</th>
							<th class="txt">会员</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="order in orderLstData" id="{{order.saasOrderKey}}" ng-click="selectOrder(order)">
							<td class="subtype">
								<div class="zizhu" ng-if="order.netOrderTypeCode.slice(0, 2).toLowerCase() == 'ws'">
									<span class="icon-zizhu" ></span>
								</div>
								<span class="icon-waimai" ng-if="order.orderSubType == 1"></span>
								<span class="icon-ziti" ng-if="order.orderSubType == 2"></span>
								<span class="icon-tangshi" ng-if="order.orderSubType == 0"></span>
								&nbsp;
							</td>
							<td class="txt">{{order.saasOrderNo}}</td>
							<td class="txt">{{order.channelName}}</td>
							<td class="txt">{{order.tableName}}</td>
							<td class="num">{{order.person}}</td>
							<td class="num">{{order.foodAmount | mycurrency:"￥"}}</td>
							<td class="num">{{order.paidAmount | mycurrency:"￥"}}</td>
							<td class="txt">{{order.orderStatus == 20 ? '未结账' : order.orderStatus == 40 ? '已结账' : '废单'}}</td>
							<td class="txt">{{order.checkoutBy}}</td>
							<td class="date">{{order.startTime | formatDateTimeStr:"HH:mm"}}</td>
							<td class="date">{{order.createTime | formatDateTimeStr:"HH:mm"}}</td>
							<td class="date">{{order.checkoutTime | formatDateTimeStr:"HH:mm"}}</td>
							<td class="txt">{{order.cardNo.length > 0 ? '是' : ''}}</td>
						</tr>
						<tr ng-if="orderLstData.length == 0 || !orderLstData">
							<td colspan="13" class="text-center">无数据</td>
						</tr>
						
					</tbody>
				</table>
			</div>
		</div>
		
	</div>
	<footer class="orderlst-footer">
		
		<p class="pager-info pull-left">页码:{{curPageNo}} / {{numPages}}</p>
		<pagination total-items="totalSize || 0" ng-model="curPageNo" max-size="5" class="pagination-lg pull-left" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="pageSize" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="selectPage()"></pagination>
		<!-- <div class="btn-group center-block clearfix">
			<button type="button" class="btn btn-default col-xs-3 btn-first"  pager-act="prev">首页</button>
			<button type="button" class="btn btn-default col-xs-3 btn-prev"  pager-act="prev">上一页</button>
			<button type="button" class="btn btn-default col-xs-3 btn-next"  pager-act="prev">下一页</button>
			<button type="button" class="btn btn-default col-xs-3 btn-end"  pager-act="prev">末页</button>
		</div> -->
	</footer>
	<alert class="site-toptip" ng-repeat="alert in toptips" type="{{alert.type}}" close="closeTopTip($index)" dismiss-on-timeout="1500">{{alert.msg}}</alert>
	<script type="text/ng-template" id="js/dingdan/orderDetail.html">
		<div class="modal-body">
			<section class="section section-diandan">
				<div class="order-plain">
					<div class="order-box">
						<div class="order-body grid-box">
							<!-- 单头信息 -->
							<header class="order-header" >
								<orderheader fmels="orderHeader" channels="OrderChannels" class="clearfix " ></orderheader>
							</header>
							<!-- 订单条目头 -->
							<div class="row grid-header">
								<span class="col-xs-1 grid-cell txt"></span>
								<span class="col-xs-4 grid-cell txt">品名</span>
								<span class="col-xs-2 grid-cell num">数量</span>
								<span class="col-xs-2 grid-cell unit">规格</span>
								<span class="col-xs-3 grid-cell price">小计</span>
							</div>
							<!-- <div>{{curOrderItems.length}}</div> -->
							<div class="order-list">
								<orderlist type="multiple"></orderlist>
							</div>
							
							
						</div>
						
						<footer class="order-footer">
							<!-- 订单操作按钮组 -->
							<div class="btn-grp btn-group-justified " order-pager="{{curOrderItems.length}}">
								<div class="btn-group" role="group"><button class="btn btn-default btn-block btn-prev" type="button" pager-act="prev">上页</button></div>
								<div class="btn-group" role="group"><button class="btn btn-default btn-block btn-next" type="button" pager-act="next">下页</button></div>
							</div>
							<!-- 订单单注 -->
							<div class="order-remark clearfix">
								<div class="col-xs-7">
									<label for="">账单合计</label>
									<span class="dollar">￥</span>
									<!-- <span class="cash">58888</span> -->
									<span class="cash">{{calcOrderAmount()}}</span>
								</div>
								<div class="col-xs-5">
									<button class="btn btn-default btn-block hidden" type="button" ng-click="openOrderRemark()">{{curOrderRemark}}</button>
								</div>
							</div>
						</footer>
					</div>
				</div>
				<div class="detail-plain">
					<div class="order-detail">
						<header>
							<h4>账单主信息</h4>
						</header>
						<div class="detail-grid">
							<div class="row">
								<div class="col-xs-6 item" ng-repeat="el in curOrderDetail">
									<label class="col-xs-7 text-right">
										{{el.label}}:
									</label>
									<p class="col-xs-5 text-left">
										{{mapOrderDetailValue(el)}}
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="paylst-plain">
						<header>
							<h4>支付科目明细</h4>
						</header>
						<div class="detail-grid paylst-grid">
							<div class="row">
								<div class="col-xs-6 item"  ng-repeat="pay in curOrderPayLst">
									<label class="col-xs-7 text-right">{{pay.paySubjectName}}:</label>
									<p class="col-xs-5 text-left">
										{{pay.debitAmount | mycurrency:"￥"}}
									</p>
								</div>
								
								
							</div>
							<div class="row">
								<div class="col-xs-6">
									<label class="col-xs-7 text-right">菜品金额:</label>
									<p class="col-xs-5 text-left cash">
										{{getOrderFoodAmount() | mycurrency:"￥"}}
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="modal-footer">
			<div class="btn-group btn-group-justified" role="group">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default btn-lg" ng-click="printOrderCheckoutBill()">打印</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default btn-lg" ng-disabled="reviewBy.length > 0" ng-click="doAudit()">完成审核</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default btn-lg" ng-click="modifyInvoice()">修改发票</button>
				</div>
			</div>
			<div class="btn-group btn-group-justified" role="group">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default btn-lg" ng-click="abolishOrder()">作废</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default btn-lg" ng-click="counterSettlingAccount()">反结账</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default btn-lg" ng-click="close()" >返回</button>
				</div>
			</div>
		</div>
	</script>

	<script type="text/ng-template" id="js/dingdan/invoice.html">
		<div class="modal-header">
			<h4 class="modal-title">修改订单发票</h4>
		</div>
		<div class="modal-body">
			<div class="form-horizontal clearfix">
				<div class="form-group">
					<label for="" class="col-xs-3 control-label">发票抬头</label>
					<div class="col-xs-9">
						<input type="text" class="form-control" name="invoiceTitle" ng-model="invoiceTitle" />
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-xs-3 control-label">发票金额</label>
					<div class="col-xs-9">
						<input type="number" class="form-control" name="invoiceAmount" ng-model="invoiceAmount" />
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-xs-3 control-label">说明</label>
					<div class="col-xs-9">
						<input type="text" class="form-control" name="modifyRemark" ng-model="modifyRemark" />
					</div>
				</div>

			</div>
		</div>
		<div class="modal-footer">
			<div class="btn-group btn-group-justified" role="group">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default btn-lg" ng-click="save()">确定</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default btn-lg" ng-click="close()" >取消</button>
				</div>
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="js/dingdan/abolish.html">
		<div class="modal-header">
			<h4 class="modal-title">账单作废</h4>
		</div>
		<div class="modal-body">
			<div class="form-horizontal clearfix">
				<div class="form-group">
					<label for="" class="col-xs-3 control-label">作废原因</label>
					<div class="col-xs-9">
						<input type="text" class="form-control" name="saasOrderRemark" ng-model="saasOrderRemark" />
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="btn-group btn-group-justified" role="group">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default btn-lg" ng-click="save()">确定</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default btn-lg" ng-click="close()" >取消</button>
				</div>
			</div>
		</div>
	</script>
	
</section>