<section class="section section-orderlst" ng-controller="DingDanViewController">
	<header class="orderlst-header row">
		<div class="row filter-bar">
			<div class="col-xs-2 clearfix">
				<div class="input-group">
					<input type="text" class="form-control" readonly datepicker-popup="yyyy/MM/dd" placeholder="日期" ng-model="qReportDate" is-open="datePickerOpened" max-date="today()" datepicker-options="datePickerOptions" close-text="关闭" current-text="今天" clear-text="清空" ng-keyup="queryByReportDate($event, qReportDate)" ng-change="queryByReportDate($event, qReportDate)"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="openDatePicker($event)">
							<span class="glyphicon glyphicon-calendar"></span>
						</button>
					</span>
				</div>
			</div>
			<div class="btn-group col-xs-3 clearfix">
				<label class="btn btn-default col-xs-3" ng-model="qOrderSubType" btn-radio="'-1'" ng-click="queryByOrderSubType('-1')">全部</label>
				<label class="btn btn-default col-xs-3" ng-model="qOrderSubType" btn-radio="'0'" ng-click="queryByOrderSubType('0')">堂食</label>
				<label class="btn btn-default col-xs-3" ng-model="qOrderSubType" btn-radio="'1'" ng-click="queryByOrderSubType('1')">外卖</label>
				<label class="btn btn-default col-xs-3" ng-model="qOrderSubType" btn-radio="'2'" ng-click="queryByOrderSubType('2')">自提</label>
			</div>
			<div class="btn-group col-xs-3 clearfix">
				<label for="" class="btn btn-default col-xs-4" ng-model="qOrderStatus" btn-radio="'20'" ng-click="queryByOrderStatus('20')">未结账</label>
				<label for="" class="btn btn-default col-xs-4" ng-model="qOrderStatus" btn-radio="'40'" ng-click="queryByOrderStatus('40')">已结账</label>
				<label for="" class="btn btn-default col-xs-4" ng-model="qOrderStatus" btn-radio="'30'" ng-click="queryByOrderStatus('30')">已作废</label>
			</div>
			<div class="col-xs-4 clearfix">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="订单号、手机、桌台、凭证" ng-model="qKeyword" ng-keyup="queryByKeyword($event)" />
					<span class="input-group-btn" ng-click="queryByKeyword($event)"><button class="btn btn-default" type="button">搜索</button></span>
				</div>
			</div>
			
		</div>
		
	</header>
	<div class="orderlst-body">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>类型</th>
						<th>订单号</th>
						<th>渠道</th>
						<th>台牌</th>
						<th>人数</th>
						<th>订单金额</th>
						<th>实收金额</th>
						<th>状态</th>
						<th>收银员</th>
						<th>点餐时间</th>
						<th>就餐时间</th>
						<th>结账时间</th>
						<th>会员</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="order in orderLstData" id="{{order.saasOrderKey}}">
						<td>{{order.orderSubType}}</td>
						<td>{{order.saasOrderNo}}</td>
						<td>{{order.channelName}}</td>
						<td>{{order.tableName}}</td>
						<td>{{order.person}}</td>
						<td>{{order.foodAmount | mycurrency:"￥"}}</td>
						<td>{{order.paidAmount | mycurrency:"￥"}}</td>
						<td>{{order.orderStatus == 20 ? '已落单' : order.orderStatus == 40 ? '已结账' : '废单'}}</td>
						<td>{{order.checkoutBy}}</td>
						<td>{{order.startTime | formatDateTimeStr:"HH:mm"}}</td>
						<td>{{order.createTime | formatDateTimeStr:"HH:mm"}}</td>
						<td>{{order.checkoutTime | formatDateTimeStr:"HH:mm"}}</td>
						<td>{{_.isEmpty(order.cardNo) ? '否' : '是'}}</td>

					</tr>
					
					
				</tbody>
			</table>
		</div>
	</div>
	<footer class="orderlst-footer">
		<div class="col-xs-2">
			<p class="pager-info">页码:{{curPageNo}} / {{numPages}}</p>
		</div>
		<div class="col-xs-10">
			<pagination total-items="totalSize || 0" ng-model="curPageNo" max-size="5" class="pagination-lg" boundary-links="true" rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
		</div>
		<!-- <div class="btn-group center-block clearfix">
			<button type="button" class="btn btn-default col-xs-3 btn-first"  pager-act="prev">首页</button>
			<button type="button" class="btn btn-default col-xs-3 btn-prev"  pager-act="prev">上一页</button>
			<button type="button" class="btn btn-default col-xs-3 btn-next"  pager-act="prev">下一页</button>
			<button type="button" class="btn btn-default col-xs-3 btn-end"  pager-act="prev">末页</button>
		</div> -->
	</footer>
	<alert class="site-toptip" ng-repeat="alert in toptips" type="{{alert.type}}" close="closeTopTip($index)" dismiss-on-timeout="1500">{{alert.msg}}</alert>
</section>