<div class="modal-header" >
	<button class="close" type="button" data-dismiss="modal" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">单头信息（单号：{{fmels.saasOrderNo.slice(-4)}}）</h4>
</div>
<div class="modal-body">
	<div class="row order-header">
		<div class="col-xs-6">
			<div class="form-horizontal">
				<div class="form-group">
					<label for="" class="col-xs-2 control-label">人数</label>
					<div class="col-xs-9">
						<input type="text" class="form-control" ng-model="fmels.person">
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-xs-2 control-label">台/牌号</label>
					<div class="col-xs-9">
						<input type="text" class="form-control" ng-readonly="{{tableNameIsReadOnly()}}" ng-model="fmels.tableName">
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-xs-2 control-label">备注</label>
					<div class="col-xs-9">
						<input type="text" class="form-control" ng-model="fmels.saasOrderRemark">
					</div>
				</div>
			</div>
			<!-- 软键盘 -->
			<numkeyboard></numkeyboard>
			
		</div>
		<div class="col-xs-6">
			<div class="takeout-box form-horizontal">
				<div class="form-group">
					<label for="" class="col-xs-2 control-label">姓名</label>
					<div class="col-xs-4">
						<input type="text" class="form-control" ng-model="fmels.userName">
					</div>
					<label for="" class="col-xs-2 control-label">电话</label>
					<div class="col-xs-4">
						<input type="text" class="form-control" ng-model="fmels.userMobile">
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-xs-2 control-label">地址</label>
					<div class="col-xs-10">
						<input type="text" class="form-control" ng-model="fmels.userAddress">
					</div>
				</div>
			</div>

			<div class="" >
				<h4>订单类型</h4>
				<div class="btngrp-box" pager-list="loop" pager-data="{{OrderSubTypes}}" page-size="5" item-selector=".btn.btn-radio" btn-selector=".btn-pager" page-num="0">
					<!-- 订单类型选择控件 -->
					<radiogroup group-opts="OrderSubTypes" radio-name="orderSubType" cur-val="{{fmels.orderSubType}}" class="btn-group" role="group" data-toggle="buttons" on-change="onOrderSubTypeChange(val)"></radiogroup>
					<div class="col-xs-2 cell-btn btn btn-default btn-pager" pager-direction="+1"><span>翻页</span></div>
				</div>
				
			</div>

			<div class="" >
				<h4>渠道</h4>
				<div class="btngrp-box" pager-list="loop" pager-data="{{OrderChannels}}" page-size="5" item-selector=".btn.btn-radio" btn-selector=".btn-pager" page-num="0">
					<!-- 订单渠道选择控件 -->
					<radiogroup group-opts="OrderChannels" radio-name="channelKey" cur-val="{{fmels.channelKey}}" class="btn-group" role="group" data-toggle="buttons" on-change="onChannelChange(val)"></radiogroup>
					<div class="col-xs-2 cell-btn btn btn-default btn-pager" pager-direction="+1"><span>翻页</span></div>
				</div>
				
			</div>
			
		</div>
	</div>
	
</div>
<div class="modal-footer">
	<div class="btn-group btn-group-lg" rol="group">
		<button class="btn btn-default" type="button" ng-click="save()">确定</button>
		<button class="btn btn-default" type="button" ng-click="close()">取消</button>
	</div>
</div>