<div class="modal-body">
	<div class="pay-ctrl">
		<section class="pay-schema">
			<header class="schema-header">
				<h4>结账</h4>
				<button class="btn btn-default btn-close btn-lg pull-right" ng-click="close()">返回</button>
				
			</header>
			<section class="schema-body">
				<div class="row disabeld">
					<label class="col-xs-5 control-label">菜品金额</label>
					<p class="col-xs-7 sum">{{orderPayDetail.foodAmount | currency:"￥"}}</p>
				</div>
				<ul class="list-group">
					<li ng-repeat="paySubjectGrp in orderPayDetail.payGrps" class="list-group-item clearfix" name="{{paySubjectGrp.name}}" ng-class="{disabled : isDisabledPaySubjectGrp(paySubjectGrp), active : isCurPaySubjectGrpName(paySubjectGrp.name), hidden : isHiddenPaySubjectGrp(paySubjectGrp)}" ng-click="changeCurrentPaySubjectGrp(paySubjectGrp)">
						<label class="col-xs-5">{{paySubjectGrp.label}}</label>
						<p class="col-xs-7 sum" ng-class="{hidden : isHiddenPrice(paySubjectGrp.amount)}">{{paySubjectGrp.amount | mycurrency:"￥"}}</p>
						<p class="col-xs-12" ng-if="isNotEmptyStr(paySubjectGrp.detail)">{{paySubjectGrp.detail}}</p>
						<button class="btn btn-default" ng-if="isNotZeroAmount(paySubjectGrp)" ng-click="resetPaySubject(paySubjectGrp)">撤销</button>
					</li>
				</ul>
			</section>
			<footer class="schema-footer">
				<div class="row">
					<label class="col-xs-5 control-label">未付</label>
					<p class="col-xs-7 sum">{{orderPayDetail.unPayAmount | mycurrency: "￥"}}</p>
				</div>
				<div class="btn-group btn-group-justified" role="group">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default btn-block btn-lg" ng-click="openCashBox($event)" data-loading-text="开钱箱">开钱箱</button>
					</div>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default btn-block btn-lg" ng-click="printCheckoutPreBill($event)" data-loading-text="打印中...">打印预结单</button>
					</div>
				</div>
				<!--
				<div class="row">
					<div class="col-xs-6">
						<button type="button" class="btn btn-default btn-block btn-lg" ng-click="openCashBox()">开钱箱</button>
					</div>
					<div class="col-xs-6">
						<button type="button" class="btn btn-default btn-block btn-lg" ng-click="printCheckoutPreBill()">打印预结单</button>
					</div>
				</div>
				-->
				<button type="button" class="btn btn-default btn-block btn-lg" ng-class="{disabled : !isCanbeSubmit(orderPayDetail)}" ng-click="submitOrderPay($event)" data-loading-text="完成结账">完成结账</button>
			</footer>
		</section>
		
		<section class="pay-subject">
			<div class="panel panel-default animate-repeat" ng-repeat="paySubjectGrp in orderPayDetail.payGrps | filter:curPaySubjectGrpName" id="{{paySubjectGrp.name}}">
				<div class="panel-heading">
					{{paySubjectGrp.label}}
				</div>
				<div class="panel-body">
					<commonpayform ng-if="getPayFormType(paySubjectGrp) == 'common'" pay-subject-grp="paySubjectGrp" form-cfg="payFormCfg[paySubjectGrp.name]" ></commonpayform>
					<vippayform ng-if="getPayFormType(paySubjectGrp) == 'vipCardPay'" pay-subject-grp="paySubjectGrp"></vippayform>
				</div>
				<div class="panel-footer" ng-if="paySubjectGrp.name !== 'cashPay' && paySubjectGrp.name !== 'freePay'">
					<button  class="btn btn-default btn-block btn-lg" ng-if="getPayFormType(paySubjectGrp) == 'common'" ng-click="submitPayForm(paySubjectGrp)" ng-disabled="!formIsValid">
						确认收款
					</button>
				</div>
				<div ng-if="paySubjectGrp.name == 'vipCardPay'">
					<button  class="btn btn-default btn-block btn-lg"  ng-click="submitPayForm(paySubjectGrp)" ng-disabled="!formIsValid">
						会员消费确认
					</button>
				</div>
				<div ng-if="paySubjectGrp.name == 'freePay'">
					<button  class="btn btn-default btn-block btn-lg"  ng-click="submitPayForm(paySubjectGrp)" ng-disabled="!formIsValid">
						免单确认
					</button>
				</div>
				<div class="panel-footer" ng-if="paySubjectGrp.name == 'cashPay'">
					<div class="btn-group btn-group-justified" role="group">
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-default btn-lg" ng-click="submitPayForm(paySubjectGrp)" ng-disabled="!formIsValid">确认收款</button>
						</div>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-default btn-lg" ng-click="quickSubmitCashPay($event, paySubjectGrp)" ng-disabled="!formIsValid" data-loading-text="快速结账">快速结账</button>
						</div>
					</div>
				</div>
			</div>
			
		</section>
	</div>
	
</div>