<section class="section section-diandan" ng-controller="SnackViewController">
	<div class="order-plain">
		<div class="order-box">
			<!-- 单头信息 -->
			<header class="order-header" >
				<orderheader fmels="orderHeader" channels="OrderChannels" class="clearfix" ></orderheader>
			</header>
			<div class="order-body">
				<!-- 订单条目 -->
				<div class="grid-header row">
					<span class="col-xs-2"></span>
					<span class="col-xs-4">品名</span>
					<span class="col-xs-2">数量</span>
					<span class="col-xs-2">单价</span>
					<span class="col-xs-2">规格</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">急</span>
					<span class="col-xs-4">套餐111</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
					<!-- 套餐明细 -->
					<div class="col-xs-12 clearfix ">
						<div class="col-xs-offset-1 col-xs-4">拉面1</div>
						<div class="col-xs-2">2</div>
						<!-- 显示套餐明细的加价 -->
						<div class="col-xs-2">20.00</div>
						<!-- 显示套餐明细的规格 -->
						<div class="col-xs-2">大份</div>
					</div>
					<div class="col-xs-12 clearfix ">
						<div class="col-xs-offset-1 col-xs-4">拉面2</div>
						<div class="col-xs-2">2</div>
					</div>
					<div class="col-xs-12 clearfix ">
						<div class="col-xs-offset-1 col-xs-4">拉面3</div>
						<div class="col-xs-2">2</div>
					</div>
					<!-- 作法 -->
					<!-- 口味 -->
					<!--  -->
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">急</span>
					<span class="col-xs-4">铁板烧汁鲈鱼2</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">急</span>
					<span class="col-xs-4">铁板烧汁鲈鱼3</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">即</span>
					<span class="col-xs-4">铁板烧汁鲈鱼4</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<!-- <div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼5</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼6</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼7</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼8</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼9</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼10</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼11</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼12</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼13</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼14</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼15</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼16</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼17</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼18</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼19</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼20</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼21</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼22</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼23</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼24</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼25</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼26</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼27</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼28</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼29</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div>
				<div class="grid-row row">
					<span class="col-xs-2">落</span>
					<span class="col-xs-4">铁板烧汁鲈鱼30</span>
					<span class="col-xs-2">2</span>
					<span class="col-xs-2">128.00</span>
					<span class="col-xs-2">半份</span>
				</div> -->
			</div>
			<footer class="order-footer">
				<!-- 订单操作按钮组 -->
				<div class="btn-grp clearfix">
					<div class="col-xs-4"><button class="btn btn-default btn-block btn-print" type="button">打印</button></div>
					<div class="col-xs-4"><button class="btn btn-default btn-block btn-prev" type="button">上页</button></div>
					<div class="col-xs-4"><button class="btn btn-default btn-block btn-next" type="button">下页</button></div>
				</div>
				<!-- 订单单注 -->
				<div class="order-remark clearfix">
					<div class="col-xs-7">
						<label for="">应收总计</label>
						<span class="dollar">￥</span>
						<span class="cash">58888</span>
					</div>
					<div class="col-xs-5"><button class="btn btn-default btn-block" type="button">单注</button></div>
				</div>
			</footer>
		</div>
		<div class="order-btngrp">
			<!-- 订单菜品操作按钮组 -->
			<button class="btn btn-default btn-block" type="button">赠</button>
			<button class="btn btn-default btn-block" type="button">退</button>
			<button class="btn btn-default btn-block" type="button">删</button>
			<button class="btn btn-default btn-block" type="button">+</button>
			<button class="btn btn-default btn-block" type="button">-</button>
			<button class="btn btn-default btn-block" type="button">改量</button>
			<button class="btn btn-default btn-block" type="button">改价</button>
			<button class="btn btn-default btn-block" type="button">作法</button>
			<button class="btn btn-default btn-block" type="button">口味</button>
			


			
		</div>
	</div>
	<div class="menu-plain">
		<div class="tab cates"  pager-list="loop" pager-data="{{FoodCategories}}" page-size="10" item-selector=".cell-btn[food-category]" btn-selector=".btn-pager" page-num="0">
			<div class="col-xs-2 btn cell-btn" ng-repeat="cate in FoodCategories" ng-class="{active : curFoodCategory == cate.foodCategoryKey}" food-category="{{cate.foodCategoryKey}}" ng-click="changeFoodCategory(cate.foodCategoryKey)">
				<p>{{cate.foodCategoryName}}</p>
			</div>
			<div class="col-xs-2 cell-btn btn btn-search" food-search="{{curFoodCategory}}"><span>搜索</span></div>
			<div class="col-xs-2 cell-btn btn btn-pager" pager-direction="+1"><span>翻页</span></div>
		</div>

		<div class="foods" pager-list="common" pager-data="{{curFoods}}" page-size="34" item-selector=".cell-btn[unit-key]" btn-selector=".btn-prev,.btn-next" page-num="0">
			<div class="col-xs-2 btn cell-btn" unit-key="{{food.__foodUnit.unitKey}}" ng-repeat="food in curFoods" >
				<p food-key="{{food.foodKey}}" unit-key="{{food.__foodUnit.unitKey}}">{{food.foodName}}</p>
				<p class="unit">
					{{food.__foodUnit.price | currency : "￥" }}/{{food.__foodUnit.unit}}
				</p>
			</div>
			<div class="col-xs-2 btn cell-btn btn-prev" pager-direction="-1"><span>上页</span></div>
			<div class="col-xs-2 btn cell-btn btn-next" pager-direction="+1"><span>下页</span></div>
		</div>
		
		
	</div>
	<div class="btns-plain">
		<!-- 订单操作按钮组 -->
		<div class="col-xs-10">
			<div class="col-xs-2"><button class="btn btn-warning btn-block" type="button" btn-act="luodan">落单</button></div>
			<div class="col-xs-2"><button class="btn btn-warning btn-block" type="button" btn-act="luodan">挂单</button></div>
			<div class="col-xs-2"><button class="btn btn-warning btn-block" type="button" btn-act="luodan">提单</button></div>
			<div class="col-xs-2"><button class="btn btn-warning btn-block" type="button" btn-act="luodan">现金</button></div>
			<div class="col-xs-2"><button class="btn btn-warning btn-block" type="button" btn-act="luodan">其他结账</button></div>
			<div class="col-xs-2"><button class="btn btn-warning btn-block" type="button" btn-act="luodan">开钱箱</button></div>
		</div>
		<div class="col-xs-2">
			<button class="btn btn-default btn-block" type="button" btn-act="return">返回</button>
		</div>
	</div>
</section>