<section class="section section-diandan" ng-controller="SnackViewController">
	<div class="order-plain">
		<div class="order-box">
			
			<div class="order-body grid-box">
				<!-- 单头信息 -->
				<header class="order-header" >
					<orderheader fmels="orderHeader" channels="OrderChannels" class="clearfix" ></orderheader>
				</header>
				<!-- 订单条目头 -->
				<div class="row grid-header">
					<span class="col-xs-1 grid-cell txt"></span>
					<span class="col-xs-4 grid-cell txt">品名</span>
					<span class="col-xs-2 grid-cell num">数量</span>
					<span class="col-xs-2 grid-cell unit">规格</span>
					<span class="col-xs-3 grid-cell price">小计</span>
				</div>
				<!-- <div>{{curOrderItems.length}}</div> -->
				<div class="order-list">
					<orderlist></orderlist>
				</div>
				
				
			</div>
			
			<footer class="order-footer">
				<!-- 订单操作按钮组 -->
				<div class="btn-grp clearfix" order-pager="{{curOrderItems.length}}">
					<div class="col-xs-4"><button class="btn btn-default btn-block btn-print" type="button">打印</button></div>
					<div class="col-xs-4"><button class="btn btn-default btn-block btn-prev" type="button" pager-act="prev">上页</button></div>
					<div class="col-xs-4"><button class="btn btn-default btn-block btn-next" type="button" pager-act="next">下页</button></div>
				</div>
				<!-- 订单单注 -->
				<div class="order-remark clearfix">
					<div class="col-xs-7">
						<label for="">账单合计</label>
						<span class="dollar">￥</span>
						<!-- <span class="cash">58888</span> -->
						<span class="cash">{{calcOrderAmount()}}</span>
					</div>
					<div class="col-xs-5">
						<button class="btn btn-default btn-block" type="button" ng-click="openOrderRemark()">{{curOrderRemark}}</button>
					</div>
				</div>
			</footer>
		</div>
		<div class="order-btngrp">
			<orderitemhandle></orderitemhandle>
		</div>
	</div>
	<div class="menu-plain">
		<foodcategory></foodcategory>
		<foodmenu></foodmenu>
		<!-- <div class="tab cates"  pager-list="loop" pager-data="{{FoodCategories.length}}" page-size="10" item-selector=".cell-btn[food-category]" btn-selector=".btn-pager" page-num="0">
			<div class="col-xs-2 btn cell-btn" ng-repeat="cate in FoodCategories" ng-class="{active : curFoodCategory == cate.foodCategoryKey}" food-category="{{cate.foodCategoryKey}}" ng-click="changeFoodCategory(cate.foodCategoryKey)">
				<p>{{cate.foodCategoryName}}</p>
			</div>
			<div class="col-xs-2 cell-btn btn btn-search" food-search="{{curFoodCategory}}" ng-click="openSearch()"><span>搜索</span></div>
			<div class="col-xs-2 cell-btn btn btn-pager" pager-direction="+1"><span>翻页</span></div>
		</div> -->

		<!-- <div class="foods" pager-list="common" pager-data="{{curFoods.length}}" page-size="34" item-selector=".cell-btn[unit-key]" btn-selector=".btn-prev,.btn-next" page-num="0">
			<div class="col-xs-2 btn cell-btn" unit-key="{{food.__foodUnit.unitKey}}" ng-repeat="food in curFoods" >
				<p food-key="{{food.foodKey}}" unit-key="{{food.__foodUnit.unitKey}}">{{food.foodName}}</p>
				<p class="unit">
					{{food.__foodUnit.price | currency : "￥" }}/{{food.__foodUnit.unit}}
				</p>
			</div>
			<div class="col-xs-2 btn cell-btn btn-prev" pager-direction="-1"><span>上页</span></div>
			<div class="col-xs-2 btn cell-btn btn-next" pager-direction="+1"><span>下页</span></div>
		</div>
		 -->
		
	</div>
	<orderhandlebtns></orderhandlebtns>
	<!-- <div class="btns-plain">

		<div class="col-xs-10">
			<div class="col-xs-2"><button class="btn btn-warning btn-block" type="button" btn-act="luodan">落单</button></div>
			<div class="col-xs-2"><button class="btn btn-warning btn-block" type="button" btn-act="guadan">挂单</button></div>
			<div class="col-xs-2"><button class="btn btn-warning btn-block" type="button" btn-act="tidan">提单</button></div>
			<div class="col-xs-2"><button class="btn btn-warning btn-block" type="button" btn-act="luodan">现金</button></div>
			<div class="col-xs-2"><button class="btn btn-warning btn-block" type="button" btn-act="luodan">其他结账</button></div>
			<div class="col-xs-2"><button class="btn btn-warning btn-block" type="button" btn-act="luodan">开钱箱</button></div>
		</div>
		<div class="col-xs-2">
			<button class="btn btn-default btn-block" type="button" btn-act="return">返回</button>
		</div>
	</div> -->
	<div class="modal fade" id="search_food">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group">
							<label for="" class="col-xs-3 control-label">菜品助记码</label>
							<div class="col-xs-9">
								<input type="text" class="form-control" ng-model="curSearchKey" ng-change="searchFood()" >
							</div>
						</div>
					</div>
					<!-- 软键盘 -->
					<!-- <numkeyboard></numkeyboard> -->
					<!-- <div class="site-fullkeyboard table-responsive">
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td><div class="btn btn-default btn-block invisible">&nbsp;</div></td>
									<td>
										<div class="btn btn-default btn-block">1</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">2</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">3</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">4</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">5</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">6</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">7</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">8</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">9</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">10</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">退格</div>
									</td>
								</tr>
								<tr>
									<td><div class="btn btn-default btn-block">&nbsp;</div></td>
									<td>
										<div class="btn btn-default btn-block">Q</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">W</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">E</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">R</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">T</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">Y</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">U</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">I</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">O</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">P</div>
									</td>
									<td><div class="btn btn-default btn-block">&nbsp;</div></td>
								</tr>
								<tr>
									<td>
										<div class="btn btn-default btn-block">大小写</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">A</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">S</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">D</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">F</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">G</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">H</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">J</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">K</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">L</div>
									</td>
									<td colspan="2">
										<div class="btn btn-default btn-block">回车</div>
									</td>
								</tr>
								<tr>
									<td><div class="btn btn-default btn-block">&nbsp;</div></td>
									<td>
										<div class="btn btn-default btn-block">Z</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">X</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">C</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">V</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">B</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">N</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">M</div>
									</td>
									<td>
										<div class="btn btn-default btn-block">.</div>
									</td>
									<td colspan="3">
										<div class="btn btn-default btn-block">空格</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div> -->
				</div>
				<div class="modal-footer">
					<button class="btn btn-default btn-block">关闭</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 赠送菜品操作模板 -->
	<script type="text/ng-template" id="js/diandan/orderItemSend.html">
		<div class="modal-header">
			<h4 class="modal-title">赠菜({{curFoodName}})</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-6">
					<div class="form-horizontal clearfix">
						<label for="" class="col-xs-3 control-label">数量</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" name="foodSendNumber" ng-model="foodSendNumber" />
							<span class="help-block">可以赠送数量：{{enableSendNumber}}</span>
						</div>

					</div>
					<numkeyboard></numkeyboard>
				</div>
				<div class="col-xs-6">
					<div class="" >
						<h4>赠菜原因</h4>
						<div class="btngrp-box" pager-list="loop" pager-data="{{SendFoodReasons}}" page-size="5" item-selector=".btn.btn-radio" btn-selector=".btn-pager" page-num="0">
							<radiogroup group-opts="SendFoodReasons" radio-name="sendReason" cur-val="{{sendReason}}" class="btn-group" role="group" data-toggle="buttons" on-change="onSendReasonChange(val)"></radiogroup>
							<div class="col-xs-2 cell-btn btn btn-default btn-pager" pager-direction="+1"><span>翻页</span></div>
						</div>
						
					</div>
				</div>
			</div>
			
		</div>
		<div class="modal-footer">
			<div class="btn-group btn-group-lg" role="group">
				<button type="button" class="btn btn-default" ng-click="save()">保存</button>
				<button type="button" class="btn btn-default" ng-click="close()" >取消</button>
			</div>
		</div>
	</script>
	<!-- 退菜操作模板 -->
	<script type="text/ng-template" id="js/diandan/orderItemCancel.html">
		<div class="modal-header">
			<h4 class="modal-title">退菜({{curFoodName}})</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-6">
					<div class="form-horizontal clearfix">
						<label for="" class="col-xs-3 control-label">数量</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" name="foodCancelNumber" ng-model="foodCancelNumber" />
							<span class="help-block">可以退菜数量：{{enableCancelNumber}}</span>
						</div>
					</div>
					<numkeyboard></numkeyboard>
				</div>
				<div class="col-xs-6">
					<div class="" >
						<h4>退菜原因</h4>
						<div class="btngrp-box" pager-list="loop" pager-data="{{CancelFoodReasons}}" page-size="5" item-selector=".btn.btn-radio" btn-selector=".btn-pager" page-num="0">
							<radiogroup group-opts="CancelFoodReasons" radio-name="cancelReason" cur-val="{{cancelReason}}" class="btn-group" role="group" data-toggle="buttons" on-change="onCancelReasonChange(val)"></radiogroup>
							<div class="col-xs-2 cell-btn btn btn-default btn-pager" pager-direction="+1"><span>翻页</span></div>
						</div>
						
					</div>
				</div>
			</div>
			
		</div>
		<div class="modal-footer">
			<div class="btn-group btn-group-lg" role="group">
				<button type="button" class="btn btn-default" ng-click="save()">保存</button>
				<button type="button" class="btn btn-default" ng-click="close()" >取消</button>
			</div>
		</div>
	</script>
	<!-- 改量操作模板 -->
	<script type="text/ng-template" id="js/diandan/orderItemModifyCount.html">
		<div class="modal-header">
			<h4 class="modal-title">改量({{curFoodName}})</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-offset-1 col-xs-10">
					<div class="form-horizontal clearfix">
						<label for="" class="col-xs-3 control-label">数量</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" name="foodCount" ng-model="foodCount" />
							<span class="help-block">当前菜品数量：{{curFoodCount}}</span>
						</div>
					</div>
					<numkeyboard></numkeyboard>
				</div>
			</div>
			
		</div>
		<div class="modal-footer">
			<div class="btn-group btn-group-lg" role="group">
				<button type="button" class="btn btn-default" ng-click="save()">保存</button>
				<button type="button" class="btn btn-default" ng-click="close()">取消</button>
			</div>
		</div>
	</script>
	<!-- 改价操作模板 -->
	<script type="text/ng-template" id="js/diandan/orderItemModifyPrice.html">
		<div class="modal-header">
			<h4 class="modal-title">改价({{curFoodName}})</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-6">
					<div class="form-horizontal clearfix">
						<label for="" class="col-xs-3 control-label">价格</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" name="foodPrice" ng-model="foodPrice" />
							<span class="help-block">菜品当前价格：{{curFoodPrice}}</span>
						</div>
					</div>
					<numkeyboard></numkeyboard>
				</div>
				<div class="col-xs-6">
					<div class="" >
						<h4>改价原因</h4>
						<div class="btngrp-box" pager-list="loop" pager-data="{{ModifyPriceNotes}}" page-size="5" item-selector=".btn.btn-radio" btn-selector=".btn-pager" page-num="0">
							<radiogroup group-opts="ModifyPriceNotes" radio-name="priceReason" cur-val="" class="btn-group" role="group" data-toggle="buttons" on-change="onFoodPriceNoteChange(val)"></radiogroup>
							<div class="col-xs-2 cell-btn btn btn-default btn-pager" pager-direction="+1"><span>翻页</span></div>
						</div>
						
					</div>
				</div>
			</div>
			
		</div>
		<div class="modal-footer">
			<div class="btn-group btn-group-lg" role="group">
				<button type="button" class="btn btn-default" ng-click="save()">保存</button>
				<button type="button" class="btn btn-default" ng-click="close()">取消</button>
			</div>
		</div>
	</script>
	<!-- 作法操作模板 -->
	<script type="text/ng-template" id="js/diandan/orderItemModifyMethod.html">
		<div class="modal-header">
			<h4 class="modal-title">作法设置({{curFoodName}})</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-12">
					<div class="" >
						<h4>作法选择</h4>
						<div class="btngrp-box" pager-list="loop" pager-data="{{FoodMethods}}" page-size="5" item-selector=".btn.btn-radio" btn-selector=".btn-pager" page-num="0">
							<radiogroup group-opts="FoodMethods" radio-name="foodMethod" cur-val="{{foodMethod}}" class="btn-group" role="group" data-toggle="buttons" on-change="onFoodRemarkChange(val)"></radiogroup>
							<div class="col-xs-2 cell-btn btn btn-default btn-pager" pager-direction="+1"><span>翻页</span></div>
						</div>
						
					</div>
				</div>
			</div>
			
		</div>
		<div class="modal-footer">
			<div class="btn-group btn-group-lg" role="group">
				<button type="button" class="btn btn-default"  ng-click="save()">保存</button>
				<button type="button" class="btn btn-default"  ng-click="close()">取消</button>
			</div>
		</div>
	</script>
	<!-- 口味操作模板 -->
	<script type="text/ng-template" id="js/diandan/orderItemModifyRemark.html">
		<div class="modal-header">
			<h4 class="modal-title">口味设置({{curFoodName}})</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-12">
					<div class="" >
						<h4>口味选择</h4>
						<div class="btngrp-box" pager-list="loop" pager-data="{{FoodRemarks}}" page-size="5" item-selector=".btn.btn-radio" btn-selector=".btn-pager" page-num="0">
							<radiogroup group-opts="FoodRemarks" radio-name="foodRemark" cur-val="{{foodRemark}}" class="btn-group" role="group" data-toggle="buttons" on-change="onFoodRemarkChange(val)"></radiogroup>
							<div class="col-xs-2 cell-btn btn btn-default btn-pager" pager-direction="+1"><span>翻页</span></div>
						</div>
						
					</div>
				</div>
			</div>
			
		</div>
		<div class="modal-footer">
			<div class="btn-group btn-group-lg" role="group">
				<button type="button" class="btn btn-default" ng-click="save()">保存</button>
				<button type="button" class="btn btn-default" ng-click="close()" >取消</button>
			</div>
		</div>
	</script>
	<!-- 单注 -->
	<script type="text/ng-template" id="js/diandan/orderRemark.html">
		<div class="modal-header">
			<h4 class="modal-title">单注设置</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-12">
					<div class="" >
						<h4>单注选择</h4>
						<div class="btngrp-box" pager-list="loop" pager-data="{{OrderRemarks}}" page-size="5" item-selector=".btn.btn-radio" btn-selector=".btn-pager" page-num="0">
							<radiogroup group-opts="OrderRemarks" radio-name="orderRemark" cur-val="{{orderRemark}}" class="btn-group" role="group" data-toggle="buttons" on-change="onOrderRemarkChange(val)"></radiogroup>
							<div class="col-xs-2 cell-btn btn btn-default btn-pager" pager-direction="+1"><span>翻页</span></div>
						</div>
						
					</div>
				</div>
			</div>
			
		</div>
		<div class="modal-footer">
			<div class="btn-group btn-group-lg" role="group">
				<button type="button" class="btn btn-default" ng-click="save()">保存</button>
				<button type="button" class="btn btn-default" ng-click="close()" >取消</button>
			</div>
		</div>
	</script>
	<!-- 套餐配置窗口 -->
	<script type="text/ng-template" id="js/diandan/setFoodCfg.html">
		<div class="modal-header">
			<h4 class="modal-title">套餐搭配</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-6" ng-repeat="el in curSetFoodLst">
					<div class="" >
						<h4>{{el.foodCategoryName}}({{el.items.length}}选<span class="text-danger">{{el.chooseCount}}</span>)</h4>
						<div class="btngrp-box " pager-list="loop" pager-data="{{el.items}}" page-size="5" item-selector=".btn.btn-radio" btn-selector=".btn-pager" page-num="0">
							<checkboxgroup group-opts="el.items" checkbox-name="cate_{{$index}}" cur-val="el.selectedFoods" class="btn-group" role="group" data-toggle="buttons" on-change="onSetFoodChange(val, checkboxName)" ></checkboxgroup>
							<div class="col-xs-2 cell-btn btn btn-default btn-pager" pager-direction="+1"><span>翻页</span></div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="modal-footer">
			<div class="btn-group btn-group-lg" role="group">
				<button type="button" class="btn btn-default" ng-click="save()" >保存</button>
				<button type="button" class="btn btn-default" ng-click="close()" >取消</button>
			</div>
		</div>
	</script>
	<!-- 提单操作窗口 -->
	<script type="text/ng-template" id="js/diandan/pickOrder.html">
		<div class="modal-header">
			<h4 class="modal-title">提单操作</h4>
		</div>
		<div class="modal-body">
			<ul class="row list-unstyled">
				<li class="col-xs-4" ng-repeat="el in OrdersCatch" id="el.__catchID" ng-click="onOrderCatchClick(el.__catchID)">
					<p>订单号:{{el.saasOrderKey}}</p>
					<p>时间:{{el.startTime | formatDateTimeStr:"yyyy-MM-dd HH:mm:ss"}}</p>
					<p ng-repeat="food in el.foodLst" ng-if="$index < 4">
						{{food.foodName}}
					</p>
				</li>
			</ul>
		</div>
		<div class="modal-footer">
			<div class="btn-group btn-group-lg" role="group">
				<button type="button" class="btn btn-default" ng-click="close()" >取消</button>
			</div>
		</div>
	</script>
	<!-- 订单支付操作窗口 -->
	<script type="text/ng-template" id="js/diandan/payOrder.html">
		<div class="modal-body">
			<div class="pay-ctrl">
				<section class="pay-schema">
					<header class="schema-header">
						<h4>结账</h4>
						<button class="btn btn-default btn-close" ng-click="close()">返回</button>
						<div class="row disabeld">
							<label class="col-xs-5 control-label">菜品金额</label>
							<p class="col-xs-7 sum">{{orderPayDetail.foodAmount | currency:"￥"}}</p>
						</div>
					</header>
					<section class="schema-body">
						<ul class="list-group">
							<li ng-repeat="paySubjectGrp in orderPayDetail.payGrps" class="list-group-item clearfix" name="{{paySubjectGrp.name}}" ng-class="{disabled : isDisabledPaySubjectGrp(paySubjectGrp), active : isCurPaySubjectGrpName(paySubjectGrp.name), hidden : isHiddenPaySubjectGrp(paySubjectGrp)}" ng-click="changeCurrentPaySubjectGrp(paySubjectGrp)">
								<label class="col-xs-5">{{paySubjectGrp.label}}</label>
								<p class="col-xs-7 sum" ng-class="{hidden : isHiddenPrice(paySubjectGrp.amount)}">{{paySubjectGrp.amount | mycurrency:"￥"}}</p>
								<p class="col-xs-12" ng-if="isNotEmptyStr(paySubjectGrp.detail)">{{paySubjectGrp.detail}}</p>
								<button class="btn btn-default" ng-if="isNotZeroAmount(paySubjectGrp)" ng-click="resetPaySubject(paySubjectGrp)">撤销</button>
							</li>
						</ul>
					</section>
					<footer class="schema-footer">
						<div class="row">
							<label class="col-xs-5 control-label">未付</label>
							<p class="col-xs-7 sum">{{orderPayDetail.unPayAmount | mycurrency: "￥"}}</p>
						</div>
						<div class="row">
							<div class="col-xs-6">
								<button type="button" class="btn btn-default btn-block">开钱箱</button>
							</div>
							<div class="col-xs-6">
								<button type="button" class="btn btn-default btn-block">打印结账清单</button>
							</div>
						</div>
						<button type="button" class="btn btn-default btn-block" ng-class="{disabled : !isCanbeSubmit(orderPayDetail)}" ng-click="submitOrderPay()">完成结账</button>
					</footer>
				</section>
				
				<section class="pay-subject">
					<div class="panel panel-default animate-repeat" ng-repeat="paySubjectGrp in orderPayDetail.payGrps | filter:curPaySubjectGrpName" id="{{paySubjectGrp.name}}">
						<div class="panel-heading">
							{{paySubjectGrp.label}}
						</div>
						<div class="panel-body">
							<commonpayform ng-if="getPayFormType(paySubjectGrp) == 'common'" pay-subject-grp="paySubjectGrp" form-cfg="payFormCfg[paySubjectGrp.name]" ></commonpayform>
							<vippayform ng-if="getPayFormType(paySubjectGrp) == 'vip'" pay-subject-grp="paySubjectGrp"></vippayform>
						</div>
						<div class="panel-footer">
							<button  class="btn btn-default btn-block" ng-if="getPayFormType(paySubjectGrp) == 'common'" ng-click="submitPayForm(paySubjectGrp)">
								确认收款
							</button>
							<button  class="btn btn-default btn-block" ng-if="getPayFormType(paySubjectGrp) == 'vip'" ng-click="submitPayForm(paySubjectGrp)">
								会员消费确认
							</button>
						</div>
					</div>
					
				</section>
			</div>
		</div>
	</script>
	<!-- 通用支付表单部件 -->
	<script type="text/ng-template" id="js/diandan/commonpayform.html">
		<div class="row">
			<div class="" ng-class="{'col-xs-12' : paySubjectGrp.name == 'discountPay', 'col-xs-4' : paySubjectGrp.name != 'discountPay'}" ng-if="needLeftBar(paySubjectGrp.name)">
				<div class="btngrp-box" ng-if="paySubjectGrp.name == 'discountPay'" pager-list="loop" pager-data="{{discountRuleLst}}" page-size="5" item-selector=".btn.btn-radio" btn-selector=".btn-pager" page-num="0">
					<radiogroup group-opts="discountRuleLst" radio-name="discountRule" cur-val="{{curDiscountRule}}" class="btn-group" role="group" data-toggle="buttons" on-change="onDiscountChange(val)"></radiogroup>
					<div class="col-xs-2 cell-btn btn btn-default btn-pager" pager-direction="+1"><span>翻页</span></div>
				</div>
				
				<div class="btngrp-box btngrp-vertical" ng-if="paySubjectGrp.name != 'discountPay'" pager-list="loop" pager-data="{{optCfg.items}}" page-size="5" item-selector=".btn.btn-radio" btn-selector=".btn-pager" page-num="0">
					<radiogroup group-opts="optCfg.items" radio-name="pay_subject" cur-val="optCfg.selectedSubjects" class="btn-group" role="group" data-toggle="buttons" on-change="onPaySubjectChange(val)"></radiogroup>
					<div class="col-xs-2 cell-btn btn btn-default btn-pager" pager-direction="+1"><span>翻页</span></div>
				</div>
			</div>
			<div class="col-xs-8" ng-if="paySubjectGrp.name != 'discountPay'">
				<div class="form-horizontal">
					<div class="form-group" ng-repeat="el in formCfg">
						<label class="col-xs-4 control-label">{{el.label}}</label>
						<div class="col-xs-8">
							<input type="number" class="form-control" name="{{el.name}}" value="{{el.value}}" ng-disabled={{el.disabled}} />
						</div>
					</div>
				</div>
				<div>
				<numkeyboard></numkeyboard>
				</div>

				
			</div>
		</div>
	</script>
	<!-- 会员卡支付表单部件 -->
	<script type="text/ng-template" id="js/diandan/vippayform.html">
		<div class="row vip-pay">
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-xs-3 control-label">卡号</label>
					<div class="col-xs-7">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="卡号/手机号"/>
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">查询</button>
							</span>
						</div>
					</div>
					<div class="col-xs-2">
						<span class="label label-info">状态</span>
					</div>
					<p class="help-block info row">
						<span class="col-xs-3">姓名:哗啦啦</span>
						<span class="col-xs-4">手机:13322222222</span>
						<span class="col-xs-3">生日:1988-12-24</span>
						<span class="col-xs-2">金卡</span>
					</p>
				</div>
				
			</div>
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-xs-3 control-label">使用卡值</label>
					<div class="col-xs-5">
						<input type="number" class="form-control" />
					</div>
					<div class="col-xs-4">
						<p class="help-block info">使用余额:100</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label">使用积分</label>
					<div class="col-xs-5">
						<input type="number" class="form-control" />
					</div>
					<div class="col-xs-4">
						<p class="help-block info">使用积分:100</p>
						<p class="help-block info">可抵金额:100</p>
					</div>
				</div>
			</div>
			<div class="user-voucher">
				<div class="voucher-info">用券:</div>
				<div class="btngrp-box " pager-list="loop" pager-data="{{el.items}}" page-size="5" item-selector=".btn.btn-radio" btn-selector=".btn-pager" page-num="0">
					<checkboxgroup group-opts="el.items" checkbox-name="cate_{{$index}}" cur-val="el.selectedFoods" class="btn-group" role="group" data-toggle="buttons" on-change="onSetFoodChange(val, checkboxName)" ></checkboxgroup>
					<div class="col-xs-2 cell-btn btn btn-default btn-pager" pager-direction="+1"><span>翻页</span></div>
				</div>
			</div>
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-xs-3 control-label">支付确认码</label>
					<div class="col-xs-7">
						<input type="number" class="form-control" />
					</div>
					
				</div>
			</div>
			<numkeyboard></numkeyboard>

		</div>
	</script>
</section>