<section class="section section-diandan section-table" ng-controller="TableViewController">
	<div class="order-plain">
		<div class="order-box">
			
			<div class="order-body grid-box">
				<!-- 单头信息 -->
				<header class="order-header" >
					<orderheader fmels="orderHeader" channels="OrderChannels" class="clearfix disabled" ></orderheader>
				</header>
				<!-- 订单条目头 -->
				<div class="row grid-header">
					<span class="col-xs-1 grid-cell txt"></span>
					<span class="col-xs-4 grid-cell txt">品名</span>
					<span class="col-xs-2 grid-cell num">数量</span>
					<span class="col-xs-2 grid-cell unit">规格</span>
					<span class="col-xs-3 grid-cell price">小计</span>
				</div>
				<!-- <div>{{curOrderItems.length}}</div> -->
				<div class="order-list">
					<orderlist type="multiple"></orderlist>
				</div>
				
				
			</div>
			
			<footer class="order-footer">
				<!-- 订单操作按钮组 -->
				<div class="btn-grp clearfix" order-pager="{{curOrderItems.length}}">
					<div class="col-xs-4"><button class="btn btn-default btn-block btn-print" ng-click="printOrderDetailBill()" type="button">打印明细</button></div>
					<div class="col-xs-4"><button class="btn btn-default btn-block btn-prev" type="button" pager-act="prev">上页</button></div>
					<div class="col-xs-4"><button class="btn btn-default btn-block btn-next" type="button" pager-act="next">下页</button></div>
				</div>
				<!-- 订单单注 -->
				<div class="order-remark clearfix">
					<div class="col-xs-7">
						<label for="">账单合计</label>
						<span class="dollar">￥</span>
						<!-- <span class="cash">58888</span> -->
						<span class="cash">{{calcOrderAmount()}}</span>
					</div>
					<div class="col-xs-5">
						<button class="btn btn-default btn-block hidden" type="button" ng-click="openOrderRemark()">{{curOrderRemark}}</button>
					</div>
				</div>
			</footer>
		</div>
		<div class="order-btngrp">
			<orderitemhandle></orderitemhandle>
		</div>
	</div>
	<tablemenu></tablemenu>
	<!-- <div class="menu-plain">
		<div class="cates">
			<div class="row filter-bar">
				<div class="col-xs-6">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="桌台名称" ng-model="qTblName">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">搜索</button>
						</span>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="btn-group center-block clearfix">
						<label class="btn btn-default col-xs-4" ng-model="qTblStatus" btn-radio="'-1'" ng-click="queryTablesByStatus(-1)">全部</label>
						<label class="btn btn-default col-xs-4" ng-model="qTblStatus" btn-radio="'0'" ng-click="queryTablesByStatus(0)">空闲</label>
						<label class="btn btn-default col-xs-4" ng-model="qTblStatus" btn-radio="'1'" ng-click="queryTablesByStatus(1)">占用</label>
					</div>
				</div>
			</div>
			<div class="area-bar row" pager-list="loop" pager-data="{{TableAreas.length}}" page-size="4" item-selector=".btn-area[area-name]" btn-selector=".btn-pager" page-num="0">
				<div class="col-xs-2 cell-btn btn btn-all" ng-class="{active: curAreaName == ''}" ng-click="selectTableArea('')" area-name="" ><p>全部</p></div>
				<div class="col-xs-2 btn cell-btn btn-area" ng-repeat="area in TableAreas" ng-class="{active : curAreaName == area.value}" ng-click="selectTableArea(area.areaName)" area-name="{{area.areaName}}">
					<p>{{area.label}}</p>
				</div>

				<div class="col-xs-2 cell-btn btn btn-pager" pager-direction="+1"><span>翻页</span></div>
			</div>
		</div>
		<div class="table-menu" pager-list="common" pager-data="{{curTables.length}}" page-size="34" item-selector=".cell-btn[id]" btn-selector=".btn-prev,.btn-next" page-num="0">
			<div class="col-xs-2 btn cell-btn" id="{{table.tableCode}}" ng-repeat="table in curTables" ng-class="{disabled : table.tableStatus == 4, idle : table.tableStatus == 0, occupy : table.tableStatus == 1, active : table.tableName == curTableName}" table-status="{{table.tableStatus}}" book-order-no="{{table.bookOrderNo}}" ng-click="selectTableName(table)">
				<p class="name">{{table.tableName}}</p>
				<p class="time" ng-if="table.tableStatus == 1">{{table.orderCreateTime | formatDateTimeStr:"HH:mm"}}</p>
				<p class="amount" ng-if="table.tableStatus == 1">{{table.orderTotalAmount | mycurrency:"￥"}}</p>
			</div>
			<div class="col-xs-2 btn cell-btn btn-prev" pager-direction="-1"><p class="name">上页</p></div>
			<div class="col-xs-2 btn cell-btn btn-next" pager-direction="+1"><p class="name">下页</p></div>
		</div>

	</div> -->
	<alert class="site-toptip" ng-repeat="alert in toptips" type="{{alert.type}}" close="closeTopTip($index)" dismiss-on-timeout="1500">{{alert.msg}}</alert>
	<script type="text/ng-template" id="js/diandan/tablemenu.html">
		<div class="menu-plain">
			<div class="cates">
				<div class="row filter-bar">
					<div class="col-xs-6">
						<div class="input-group">
							<input type="text" class="form-control input-lg" placeholder="桌台名称" ng-model="qTblName" ng-keyup="quickSelectTable($event, qTblName)">
							<span class="input-group-btn">
								<button class="btn btn-default btn-lg" type="button" ng-click="quickSelectTable($event, qTblName)">选择桌台</button>
							</span>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="btn-group center-block clearfix">
							<label class="btn btn-default btn-lg col-xs-4" ng-model="qTblStatus" btn-radio="'-1'" ng-click="queryTablesByStatus(-1)">全部</label>
							<label class="btn btn-default btn-lg col-xs-4" ng-model="qTblStatus" btn-radio="'0'" ng-click="queryTablesByStatus(0)">空闲</label>
							<label class="btn btn-default btn-lg col-xs-4" ng-model="qTblStatus" btn-radio="'1'" ng-click="queryTablesByStatus(1)">占用</label>
						</div>
					</div>
				</div>
				<div class="area-bar row" pager-list="loop" pager-data="{{TableAreas}}" page-size="4" item-selector=".btn-area[area-name]" btn-selector=".btn-pager" page-num="0">
					<div class="col-xs-2 cell-btn btn btn-all" ng-class="{active: curAreaName == ''}" ng-click="selectTableArea('')" area-name="" ><p>全部</p></div>
					<div class="col-xs-2 btn cell-btn btn-area" ng-repeat="area in TableAreas" ng-class="{active : curAreaName == area.value}" ng-click="selectTableArea(area.areaName)" area-name="{{area.areaName}}">
						<p>{{area.label}}</p>
					</div>

					<div class="col-xs-2 cell-btn btn btn-pager" pager-direction="+1"><span>翻页</span></div>
				</div>
			</div>
			<div class="table-menu" pager-list="common" pager-data="{{curTables}}" page-size="34" item-selector=".cell-btn[id]" btn-selector=".btn-prev,.btn-next" page-num="0">
				<div class="col-xs-2 btn cell-btn" id="{{table.tableCode}}" ng-repeat="table in curTables" ng-class="{disabled : table.tableStatus == 4, idle : table.tableStatus == 0, occupy : table.tableStatus == 1, active : table.tableName == curTableName}" table-status="{{table.tableStatus}}" book-order-no="{{table.bookOrderNo}}" ng-click="selectTableName(table)">
					<span class="table-lock" ng-if="tableIsLocked(table.lockedBy)"></span>
					<span class="table-union" ng-if="tableIsUnion(table.unionTableGroupName)">{{table.unionTableGroupName || 1}}</span>
					<span class="table-book" ng-if="tableIsBooked(table.bookOrderNo)"></span>

					<p class="name">{{table.tableName}}</p>
					<!--<p class="time" ng-if="table.tableStatus == 1">{{table.orderCreateTime | formatDateTimeStr:"HH:mm"}}</p>-->
					<p class="time" ng-if="table.tableStatus == 1">{{table.orderCreateTime | formatTimeInterval}}</p>
					<p class="amount" ng-if="table.tableStatus == 1">{{table.orderTotalAmount | mycurrency:"￥"}}</p>
				</div>
				<div class="col-xs-2 btn cell-btn btn-prev" pager-direction="-1"><p class="name">上页</p></div>
				<div class="col-xs-2 btn cell-btn btn-next" pager-direction="+1"><p class="name">下页</p></div>
			</div>

		</div>
	</script>
	<script type="text/ng-template" id="js/diandan/changeTable.html">
		<div class="modal-header">
			<button class="close" type="button" data-dismiss="modal" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">选择桌台</h4>
		</div>
		<div class="modal-body">
			<div class="table-ctrl">
				<tablemenu></tablemenu>
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="js/diandan/opentableset.html">
		<div class="modal-header" >
			<button class="close" type="button" data-dismiss="modal" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">开台</h4>
		</div>
		<div class="modal-body">
			<div class="row order-header">
				<div class="col-xs-6">
					<div class="form-horizontal">
						<div class="form-group">
							<label for="" class="col-xs-3 control-label">人数</label>
							<div class="col-xs-9">
								<input type="text" class="form-control" ng-model="person" ng-focus="inputFocus($event)">
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-xs-3 control-label">台/牌号</label>
							<div class="col-xs-9">
								<input type="text" class="form-control" readonly ng-model="tableName" ng-focus="inputFocus($event)">
							</div>
						</div>
					</div>
					<!-- 软键盘 -->
					<numkeyboard cur-target="focusInputEl"></numkeyboard>
					
				</div>
				<div class="col-xs-6">
					<div class="takeout-box form-horizontal">
						<div class="form-group">
							<label for="" class="col-xs-2 control-label">备注</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" ng-model="saasOrderRemark">
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
		<div class="modal-footer">
			<div class="btn-group btn-group-justified" role="group">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default btn-lg" ng-click="save()">确定</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default btn-lg" ng-click="close()" >取消</button>
				</div>
			</div>
		</div>
	</script>
</section>