<form class="row vip-pay" role="form" name="vip_pay" novalidate="novalidate">
	<div class="form-horizontal">
		<div class="form-group">
			<label class="col-xs-3 control-label">卡号</label>
			<div class="col-xs-7">
				<div class="input-group">
					<input type="text" class="form-control" name="card_id" value="" placeholder="卡号/手机号" ng-focus="inputFocus($event)" autofocus="true"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" name="search" data-loading-text="查询中..." autocomplete="off" >查询</button>
					</span>
				</div>
			</div>
			<div class="col-xs-2">
				<span class="label label-success" ng-if="hasVIPInfo() && vipInfo.cardIsCanUsing == 1">
					正常
				</span>
				<span class="label label-danger" ng-if="hasVIPInfo() && vipInfo.cardIsCanUsing != 1">
					{{vipInfo.cardNotCanUsingNotes}}
				</span>
				
			</div>
			<p class="help-block info col-xs-12" >
				<span class="col-xs-3">姓名:{{vipInfo.userName || '哗啦啦'}}</span>
				<span class="">手机:{{vipInfo.userMobile || '133xxxxxxxx'}}</span>
				<span class="" ng-class="{hidden : vipInfo.customerBirthday.length == 0}">生日:{{vipInfo.customerBirthday || ''}}</span>
				<span class="">{{vipInfo.cardTypeName || 'VIP1'}}</span>
			</p>
		</div>
		
	</div>
	<div class="form-horizontal" >
		<div class="form-group">
			<label class="col-xs-3 control-label">使用积分</label>
			<div class="col-xs-5" ng-class="{'has-success' : vip_pay.point_amount.$dirty && vip_pay.point_amount.$valid, 'has-error' : vip_pay.point_amount.$invalid}">
				<input type="text" class="form-control" name="point_amount" ng-model="payByPoint" ng-focus="inputFocus($event)" bv-isnum ng-change="formElKeyup(vip_pay.$invalid)" ng-blur="formElKeyup(vip_pay.$invalid)"/>
				<small class="help-block" ng-show="vip_pay.point_amount.$dirty && vip_pay.point_amount.$error.bvIsnum">必须是数字</small>
			</div>
			<div class="col-xs-4">
				<p class="help-block info">剩余积分:{{vipInfo.cardPointBalance || 0}}</p>
				<p class="help-block info">积分可抵扣金额:{{vipInfo.cardPointAsMoney || 0 | mycurrency:"￥"}}</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-3 control-label">使用卡值</label>
			<div class="col-xs-5" ng-class="{'has-success' : vip_pay.money_amount.$dirty && vip_pay.money_amount.$valid, 'has-error' : vip_pay.money_amount.$invalid}">
				<input type="text" class="form-control" name="money_amount" ng-model="payByCash" ng-focus="inputFocus($event)" bv-isnum ng-change="formElKeyup(vip_pay.$invalid)" ng-blur="formElKeyup(vip_pay.$invalid)"/>
				<small class="help-block" ng-show="vip_pay.money_amount.$dirty && vip_pay.money_amount.$error.bvIsnum">必须是数字</small>
			</div>
			<div class="col-xs-4">
				<p class="help-block info">储值余额:{{sumVIPCardMoneyBalance(vipInfo.cardCashBalance, vipInfo.cardGiveBalance) || 0 | mycurrency:"￥"}}</p>
			</div>
		</div>
	</div>
	<div class="user-voucher">
		<div class="voucher-info">
			<label class="">用券:</label>
			<span>{{curCashVoucherStr}}</span>
		</div>
		<div class="btngrp-box btngrp-2x3 voucher-grp" pager-list="loop" pager-data="{{cashVoucherOpts}}" page-size="5" item-selector=".btn.btn-checkbox" btn-selector=".btn-pager" page-num="0">
			<checkboxgroup group-opts="cashVoucherOpts" checkbox-name="cash_voucher" cur-val="curCashVouchers" class="btn-group" role="group" data-toggle="buttons" on-change="onCashVoucherChange(val, checkboxName, tarScope, curVal)" ></checkboxgroup>
			<div class="col-xs-2 cell-btn btn btn-default btn-pager" pager-direction="+1"><span>翻页</span></div>
		</div>
	</div>
	<div class="form-horizontal">
		<div class="form-group">
			<label for="" class="col-xs-3 control-label">支付小计</label>
			<div class="col-xs-8">
				<p class="form-control-static info">
					<span ng-bind="vipPaySum"></span>
					(实际抵扣: <span ng-bind="vipRealPaySum" class="text-danger"></span>)
				</p>
			</div>
		</div>
		<hr/>
	</div>
	<div class="form-horizontal">
		<div class="form-group">
			<label class="col-xs-3 control-label">支付确认码</label>
			<div class="col-xs-7">
				<input type="password" class="form-control" name="auth_code" value="{{cardTransPWD}}" ng-focus="inputFocus($event)"/>
			</div>
			
		</div>
	</div>
	<numkeyboard cur-target="focusInputEl"></numkeyboard>

</form>